# i)Top 10 ODI teams in menâ€™s cricket along with the records for matches, points and rating.

In [1]:
import  requests
from  bs4 import BeautifulSoup

In [2]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [3]:
soup = BeautifulSoup(page.text, 'html.parser')

In [4]:
Country=[]
Matches=[]
Points=[]
Rating=[]

In [5]:
country=soup.find_all('span',class_="u-hide-phablet")

In [6]:
for i in country:
    name=i.get_text()
    Country.append(name)
Country[0:10]

['England',
 'India',
 'New Zealand',
 'Australia',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [7]:
matches=soup.find_all('td',class_="rankings-block__banner--matches")

In [8]:
for i in matches:
    name_1=i.get_text()
    Matches.append(name_1)
Matches[:]

['44']

In [9]:
matches_2=soup.find_all('td',class_="table-body__cell u-center-text")

In [10]:
n=0
for i in matches_2:
    name_2=i.get_text()
    if n%2==0:
        Matches.append(name_2)
    else:
        Points.append(name_2)
    n=n+1
Matches[0:10]

['44', '52', '32', '39', '31', '35', '37', '39', '46', '31']

In [11]:
Points[0:10]

['6,102',
 '3,716',
 '4,344',
 '3,345',
 '3,490',
 '3,366',
 '3,297',
 '3,402',
 '1,844',
 '1,316']

In [12]:
rating=soup.find_all('td',class_="rankings-block__banner--rating u-text-right")

In [13]:
for i in rating:
    Rating=[]
    no=i.get_text().replace('\n','')
    Rating.append(no.strip())
Rating[:]

['123']

In [14]:
rating_2=soup.find_all('td',class_="table-body__cell u-text-right rating")

In [15]:
for i in rating_2:
    no_2=i.get_text()
    Rating.append(no_2)
Rating[0:10]

['123', '117', '116', '111', '108', '100', '91', '85', '74', '59']

In [16]:
import pandas as pd
table=pd.DataFrame({})
table['Country']=Country[0:10]
table['Matches']=Matches[0:10]
table['Points']=Points[0:10]
table['Rating']=Rating[0:10]

In [17]:
table

        Country Matches Points Rating
0       England      44  6,102    123
1         India      52  3,716    117
2   New Zealand      32  4,344    116
3     Australia      39  3,345    111
4  South Africa      31  3,490    108
5      Pakistan      35  3,366    100
6    Bangladesh      37  3,297     91
7     Sri Lanka      39  3,402     85
8   West Indies      46  1,844     74
9   Afghanistan      31  1,316     59

In [18]:
table.to_csv('Web Scraping(Beautiful Soup)-Assignment 5(i).csv')

# ii)Top 10 ODI Batsmen in men along with the records of their team and rating.

In [19]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup = BeautifulSoup(page.text, 'html.parser')

In [20]:
Name=[]
Country=[]
Rating=[]

In [21]:
name=soup.find_all('div',class_="rankings-block__banner--name")

In [22]:
c=0
Name=[]
for i in name:
    if c==0:
        no=i.get_text().replace('\n','')
        Name.append(no)
        c=c+1
Name[:]

['Virat Kohli']

In [23]:
name_2=soup.find_all('td',class_="table-body__cell name")

In [24]:
for i in name_2:
    no_2=i.get_text().replace('\n','')
    Name.append(no_2)
Name[0:10]

['Virat Kohli',
 'Rohit Sharma',
 'Babar Azam',
 'Ross Taylor',
 'Aaron Finch',
 'Francois du Plessis',
 'David Warner',
 'Kane Williamson',
 'Quinton de Kock',
 'Jonny Bairstow']

In [25]:
count=soup.find_all('span',class_="table-body__logo-text")

In [26]:
Country.append('IND')
for i in count:
    no_3=i.get_text().replace('\n','')
    Country.append(no_3)
Country[0:10]

['IND', 'IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'NZ', 'SA', 'ENG']

In [27]:
rate=soup.find_all('div',class_="rankings-block__banner--rating")

In [28]:
c=0
Rating=[]
for i in rate:
    if c==0:
        no=i.get_text().replace('\n','')
        Rating.append(no)
        c=c+1
Rating[:]

['870']

In [29]:
rate_2=soup.find_all('td',class_="table-body__cell u-text-right rating")

In [30]:
for i in rate_2:
    no=i.get_text().replace('\n','')
    Rating.append(no)
Rating[0:10]

['870', '842', '837', '818', '791', '790', '773', '765', '755', '754']

In [31]:
table=pd.DataFrame({})
table['Name']=Name[0:10]
table['Country']=Country[0:10]
table['Rating']=Rating[0:10]

In [32]:
table

                  Name Country Rating
0          Virat Kohli     IND    870
1         Rohit Sharma     IND    842
2           Babar Azam     PAK    837
3          Ross Taylor      NZ    818
4          Aaron Finch     AUS    791
5  Francois du Plessis      SA    790
6         David Warner     AUS    773
7      Kane Williamson      NZ    765
8      Quinton de Kock      SA    755
9       Jonny Bairstow     ENG    754

In [33]:
table.to_csv('Web Scraping(Beautiful Soup)-Assignment 5(ii).csv')

# iii)Top 10 ODI bowlers along with the records of their team and rating.

In [34]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup = BeautifulSoup(page.text, 'html.parser')

In [35]:
Name=[]
Country=[]
Rating=[]

In [36]:
name=soup.find_all('div',class_="rankings-block__banner--name-large")

In [37]:
c=0
Name=[]
for i in name:
    if c==0:
        no=i.get_text().replace('\n','')
        Name.append(no)
        c=c+1
Name[:]

['Trent Boult']

In [38]:
name_2=soup.find_all('td',class_="table-body__cell rankings-table__name name")

In [39]:
for i in name_2:
    no_2=i.get_text().replace('\n','')
    Name.append(no_2)
Name[0:10]

['Trent Boult',
 'Mujeeb Ur Rahman',
 'Jasprit Bumrah',
 'Mehedi Hasan',
 'Chris Woakes',
 'Kagiso Rabada',
 'Josh Hazlewood',
 'Mustafizur Rahman',
 'Mohammad Amir',
 'Pat Cummins']

In [40]:
count=soup.find_all('td',class_="table-body__cell nationality-logo rankings-table__team")

In [41]:
Country.append('NZ')
for i in count:
    no_3=i.get_text().replace('\n','')
    Country.append(no_3)
Country[0:10]

['NZ', 'AFG', 'IND', 'BAN', 'ENG', 'SA', 'AUS', 'BAN', 'PAK', 'AUS']

In [42]:
rate=soup.find_all('div',class_="rankings-block__banner--rating")

In [43]:
for i in rate:
    no=i.get_text().replace('\n','')
    Rating.append(no)
Rating[:]

['722']

In [44]:
rate_2=soup.find_all('td',class_="table-body__cell rating")

In [45]:
for i in rate_2:
    no=i.get_text().replace('\n','')
    Rating.append(no)
Rating[0:10]

['722', '708', '700', '694', '675', '665', '660', '658', '647', '646']

In [46]:
table=pd.DataFrame({})
table['Name']=Name[0:10]
table['Country']=Country[0:10]
table['Rating']=Rating[0:10]

In [47]:
table

                Name Country Rating
0        Trent Boult      NZ    722
1   Mujeeb Ur Rahman     AFG    708
2     Jasprit Bumrah     IND    700
3       Mehedi Hasan     BAN    694
4       Chris Woakes     ENG    675
5      Kagiso Rabada      SA    665
6     Josh Hazlewood     AUS    660
7  Mustafizur Rahman     BAN    658
8      Mohammad Amir     PAK    647
9        Pat Cummins     AUS    646

In [48]:
table.to_csv('Web Scraping(Beautiful Soup)-Assignment 5(iii).csv')