# i)Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [1]:
import  requests
from  bs4 import BeautifulSoup

In [2]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup = BeautifulSoup(page.text, 'html.parser')

In [31]:
Country=[]
Matches=[]
Points=[]
Rating=[]

In [32]:
country=soup.find_all('span',class_="u-hide-phablet")

In [33]:
for i in country:
    name=i.get_text()
    Country.append(name)
Country[0:10]

['Australia',
 'India',
 'England',
 'South Africa',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [34]:
matches=soup.find_all('td',class_="rankings-block__banner--matches")

In [35]:
for i in matches:
    name_1=i.get_text()
    Matches.append(name_1)
Matches[:]

['15']

In [36]:
matches_1=soup.find_all('td',class_="rankings-block__banner--points")

In [37]:
for i in matches_1:
    name_1=i.get_text()
    Points.append(name_1)
Points[:]

['2,436']

In [38]:
matches_2=soup.find_all('td',class_="table-body__cell u-center-text")

In [39]:
n=0
for i in matches_2:
    name_2=i.get_text()
    if n%2==0:
        Matches.append(name_2)
    else:
        Points.append(name_2)
    n=n+1
Matches[0:10]

['15', '15', '14', '19', '15', '12', '15', '5', '11', '2']

In [40]:
Points[0:10]

['2,436',
 '1,812',
 '1,670',
 '2,090',
 '1,384',
 '1,025',
 '1,101',
 '306',
 '519',
 '25']

In [41]:
rating=soup.find_all('td',class_="rankings-block__banner--rating u-text-right")

In [42]:
for i in rating:
    Rating=[]
    no=i.get_text().replace('\n','')
    Rating.append(no.strip())
Rating[:]

['162']

In [43]:
rating_2=soup.find_all('td',class_="table-body__cell u-text-right rating")

In [44]:
for i in rating_2:
    no_2=i.get_text()
    Rating.append(no_2)
Rating[0:10]

['162', '121', '119', '110', '92', '85', '73', '61', '47', '13']

In [45]:
import pandas as pd
table=pd.DataFrame({})
table['Country']=Country[0:10]
table['Matches']=Matches[0:10]
table['Points']=Points[0:10]
table['Rating']=Rating[0:10]

In [46]:
table

        Country Matches Points Rating
0     Australia      15  2,436    162
1         India      15  1,812    121
2       England      14  1,670    119
3  South Africa      19  2,090    110
4   New Zealand      15  1,384     92
5   West Indies      12  1,025     85
6      Pakistan      15  1,101     73
7    Bangladesh       5    306     61
8     Sri Lanka      11    519     47
9       Ireland       2     25     13

In [47]:
table.to_csv('Web Scraping(Beautiful Soup)-Assignment 6(i).csv')

# ii)Top 10 women’s ODI players along with the records of their team and rating.

In [48]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup = BeautifulSoup(page.text, 'html.parser')

In [49]:
Name=[]
Country=[]
Rating=[]

In [50]:
name=soup.find_all('div',class_="rankings-block__banner--name")

In [51]:
c=0
Name=[]
for i in name:
    if c==0:
        no=i.get_text().replace('\n','')
        Name.append(no)
        c=c+1
Name[:]

['Meg Lanning']

In [52]:
name_2=soup.find_all('td',class_="table-body__cell name")

In [53]:
for i in name_2:
    no_2=i.get_text().replace('\n','')
    Name.append(no_2)
Name[0:10]

['Meg Lanning',
 'Stafanie Taylor',
 'Alyssa Healy',
 'Smriti Mandhana',
 'Amy Satterthwaite',
 'Tammy Beaumont',
 'Laura Wolvaardt',
 'Ellyse Perry',
 'Mithali Raj',
 'Lizelle Lee']

In [54]:
count=soup.find_all('span',class_="table-body__logo-text")

In [55]:
Country.append('AUS')
for i in count:
    no_3=i.get_text().replace('\n','')
    Country.append(no_3)
Country[0:10]

['AUS', 'WI', 'AUS', 'IND', 'NZ', 'ENG', 'SA', 'AUS', 'IND', 'SA']

In [56]:
rate=soup.find_all('div',class_="rankings-block__banner--rating")

In [57]:
c=0
Rating=[]
for i in rate:
    if c==0:
        no=i.get_text().replace('\n','')
        Rating.append(no)
        c=c+1
Rating[:]

['749']

In [58]:
rate_2=soup.find_all('td',class_="table-body__cell u-text-right rating")

In [59]:
for i in rate_2:
    no=i.get_text().replace('\n','')
    Rating.append(no)
Rating[0:10]

['749', '746', '741', '732', '723', '716', '691', '691', '687', '681']

In [60]:
table=pd.DataFrame({})
table['Name']=Name[0:10]
table['Country']=Country[0:10]
table['Rating']=Rating[0:10]

In [61]:
table

                Name Country Rating
0        Meg Lanning     AUS    749
1    Stafanie Taylor      WI    746
2       Alyssa Healy     AUS    741
3    Smriti Mandhana     IND    732
4  Amy Satterthwaite      NZ    723
5     Tammy Beaumont     ENG    716
6    Laura Wolvaardt      SA    691
7       Ellyse Perry     AUS    691
8        Mithali Raj     IND    687
9        Lizelle Lee      SA    681

In [62]:
table.to_csv('Web Scraping(Beautiful Soup)-Assignment 6(ii).csv')

# iii)Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [66]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup = BeautifulSoup(page.text, 'html.parser')

In [67]:
Name=[]
Country=[]
Rating=[]

In [68]:
name=soup.find_all('div',class_="rankings-block__banner--name-large")

In [69]:
c=0
Name=[]
for i in name:
    if c==0:
        no=i.get_text().replace('\n','')
        Name.append(no)
        c=c+1
Name[:]

['Ellyse Perry']

In [70]:
name_2=soup.find_all('td',class_="table-body__cell rankings-table__name name")

In [71]:
for i in name_2:
    no_2=i.get_text().replace('\n','')
    Name.append(no_2)
Name[0:10]

['Ellyse Perry',
 'Stafanie Taylor',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Jess Jonassen',
 'Dane van Niekerk',
 'Sophie Devine',
 'Natalie Sciver',
 'Shikha Pandey',
 'Katherine Brunt']

In [72]:
count=soup.find_all('td',class_="table-body__cell nationality-logo rankings-table__team")

In [73]:
Country.append('NZ')
for i in count:
    no_3=i.get_text().replace('\n','')
    Country.append(no_3)
Country[0:10]

['NZ', 'WI', 'SA', 'IND', 'AUS', 'SA', 'NZ', 'ENG', 'IND', 'ENG']

In [74]:
rate=soup.find_all('div',class_="rankings-block__banner--rating")

In [75]:
for i in rate:
    no=i.get_text().replace('\n','')
    Rating.append(no)
Rating[:]

['460']

In [76]:
rate_2=soup.find_all('td',class_="table-body__cell rating")

In [77]:
for i in rate_2:
    no=i.get_text().replace('\n','')
    Rating.append(no)
Rating[0:10]

['460', '410', '396', '359', '301', '297', '289', '273', '250', '232']

In [78]:
table=pd.DataFrame({})
table['Name']=Name[0:10]
table['Country']=Country[0:10]
table['Rating']=Rating[0:10]

In [79]:
table

               Name Country Rating
0      Ellyse Perry      NZ    460
1   Stafanie Taylor      WI    410
2    Marizanne Kapp      SA    396
3     Deepti Sharma     IND    359
4     Jess Jonassen     AUS    301
5  Dane van Niekerk      SA    297
6     Sophie Devine      NZ    289
7    Natalie Sciver     ENG    273
8     Shikha Pandey     IND    250
9   Katherine Brunt     ENG    232

In [80]:
table.to_csv('Web Scraping(Beautiful Soup)-Assignment 6(iii).csv')