# Q 1

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\program1\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\program1\lib\site-packages (from selenium) (1.25.11)

In [10]:
import selenium 
import pandas as pd
from selenium import webdriver

In [54]:
driver = webdriver.Chrome("C:/Users/91880/Downloads/chromedriver_win32/chromedriver.exe")

In [55]:
driver.get('https://www.naukri.com')

In [56]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [57]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [58]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [59]:
driver.get(url)

In [ ]:
Extracting all the data

In [60]:
titles=[]
comp=[]
loc=[]
exp=[]

In [61]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [62]:
for i in title:
    a=i.text
    titles.append(a)
titles[0:5]

['Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst',
 'Data Analyst',
 'Business / Data Analyst']

In [63]:
comp_1=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [64]:
for i in comp_1:
    a=i.text
    comp.append(a)
comp[0:5]

['Boston Scientific Corporation',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'Shell India Markets Private Limited',
 'IBM India Pvt. Limited']

In [65]:
loc_1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [66]:
for i in loc_1:
    a=i.text
    loc.append(a)
loc[0:5]

['Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Bengaluru']

In [67]:
exp_1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [68]:
for i in exp_1:
    a=i.text
    exp.append(a)
exp[0:5]

['3-5 Yrs', '2-5 Yrs', '2-5 Yrs', '5-8 Yrs', '2-4 Yrs']

In [69]:
print(len(titles),len(comp),len(loc),len(exp))

20 20 20 20

In [70]:
jobs=pd.DataFrame({})
jobs['Job Title']=titles[0:10]
jobs['Company Name']=comp[0:10]
jobs['Location']=loc[0:10]
jobs['Experience Required']=exp[0:10]

In [71]:
jobs

,Job Title,Company Name,Location,Experience Required
0,Data Analyst - SAP,Boston Scientific Corporation,"Pune, Delhi, Bengaluru, Gurgaon",3-5 Yrs
1,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs
2,Senior Data Analyst,Schneider Electric,Bengaluru / Bangalore,2-5 Yrs
3,Data Analyst,Shell India Markets Private Limited,Bengaluru,5-8 Yrs
4,Business / Data Analyst,IBM India Pvt. Limited,Bengaluru,2-4 Yrs
5,Intern Data Analyst,Outsource Big Data,Bengaluru,0-1 Yrs
6,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bengaluru,4-6 Yrs
7,Data Analyst,Reliance Jio Infocomm Ltd.,Bengaluru,8-9 Yrs
8,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,Bengaluru,7-12 Yrs
9,Data Analyst,EZEU,Bengaluru,2-7 Yrs

# Q 2

In [72]:
driver.get('https://www.naukri.com')

In [73]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [74]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [80]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [81]:
driver.get(url)

In [82]:
titles=[]
comp=[]
loc=[]
exp=[]
descrip=[]

In [83]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [84]:
for i in title:
    a=i.text
    titles.append(a)
titles[0:5]

['Data Scientist/Data Analyst-immediate',
 'Data Scientist - Python/ MATLAB/ Machine Learning Algorithms',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist - Machine Learning (Commerce BU)',
 'Opening For Sr. Data Scientist @ Tech Mahindra']

In [85]:
comp_1=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [86]:
for i in comp_1:
    a=i.text
    comp.append(a)
comp[0:5]

['Inflexion Analytix Private Limited',
 'Wrackle Technologies Pvt Ltd',
 'Wrackle Technologies Pvt Ltd',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'Tech Mahindra Ltd.']

In [87]:
loc_1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [93]:
for i in loc_1:
    a=i.text
    loc.append(a)
loc[0:5]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Pune, Bengaluru']

In [94]:
exp_1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [97]:
for i in exp_1:
    a=i.text
    exp.append(a)
exp[0:5]

['0-2 Yrs', '3-8 Yrs', '6-11 Yrs', '2-7 Yrs', '12-20 Yrs']

In [98]:
print(len(titles),len(comp),len(loc),len(exp))

20 20 20 20

In [99]:
urls=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [100]:
url=[]
for i in urls:
    a=i.get_attribute('href')
    url.append(a)

In [101]:
url[0:5]

['https://www.naukri.com/job-listings-data-scientist-data-analyst-immediate-inflexion-analytix-private-limited-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-2-years-160221001218?src=jobsearchDesk&sid=16136419234102712&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-matlab-machine-learning-algorithms-wrackle-technologies-pvt-ltd-bengaluru-bangalore-3-to-8-years-080221905947?src=jobsearchDesk&sid=16136419234102712&xp=2&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bengaluru-bangalore-6-to-11-years-080221900886?src=jobsearchDesk&sid=16136419234102712&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-commerce-bu-blue-yonder-india-private-limited-bengaluru-bangalore-2-to-7-years-160221904332?src=jobsearchDesk&sid=16136419234102712&xp=4&px=1',
 'https://www.naukri.com/job-listings-opening-for-sr-data-scientist-tech-mahindra-tech-mahindra-ltd-pune-bengaluru-bangalore-12-to-20-years-100221001125?src=jobsearchDesk&sid=16136419234102712&xp=5&px=1']

In [102]:
for i in url:
    driver.get(i)
    desc=driver.find_elements_by_xpath("//section[@class='job-desc']")
    
    for j in desc:
        a=j.text
        descrip.append(a.replace('\n',''))

In [104]:
descrip[0:5]

['Job descriptionJob descriptionDear CandidateSchedule a Telephonic Interview ( Please call for confirmation) : Mon- Sat from 11:00am to 5:00pm only.OR Walk-In to the Corporate office between Monday to Friday from 11:00am to 5:00pmContact person :Manigandan -+91 7299917200Shantha +91 9790993237Aishwaria 9427329576Greetings from CAIA !A great opportunity to enter the world of future technologies - Data Science, Analytics, AI, Data VisualizationApplications invited from all Freshers and experienced candidates aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.In case you are trying to shift your career to Analytics and/or AI domain please do connect with us to know more.What is needed from you?- An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA- Skills relating to Mathematics/Statistics.- Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization- Good verbal and written communication skills- Ability to understand domains in businesses across various sectors- Freshers who wish to start their career in Analytics and AI and professionals who wish to up skill or change their domain to analytics and emerging technologies are free to apply.Selection procedure includes- Online Aptitude Test- Logical Ability Test / Written TestOn being shortlisted, you will be have to undergo a one-one discussion with our counsellor for further evaluation and processing of your Resume.What you can expect from us?You will get trained on the following modules for a period of 12-14 weeks:-SQL & PLSQL-Data Wrangling using Python-Statistics for Machine Learning,-Artificial Intelligence, Data Interpretation-Supervised & Unsupervised Learning,-NLP & Deep Learning-Cloud Data Lake-Business intelligence & Data Visualization-Simulation ProjectsWhat is the expected Outcome?At the end of the Training you are expected to be well versed with the following:- Analysis of large and complex data sets from multiple sources- Development and evaluation of data analytics models, algorithms and solutions- Understanding/implementation of ML algorithms, performance tuning and reporting- Implementation of algorithms to mine targeted data and the ability to convert data into a business story- Translation of business requirements into technical requirements; Data extraction, preparation and transformation- Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organisation- Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholdersCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics2. Advanced Training programs for readying the future ready workforce3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.http://www.centerforaia.com/Center for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advanced Analytics solutions for Fortune 500 companies through specialized programmed.5F World5F World is a leader in digital transformational journeys and has brought together the best minds in industry, academia and technology domains to develop a unique framework to transform stakeholder journeys through innovation and digitalization of businesses and education institutions.Systech SolutionsSystech Solutions is a leading organisation in Data Strategy, Management & Analytics services provider with deep technology expertise and over 20 years of industry experience. Systech Solutions helps empower clients with innovative, data-driven solutions to reimagine their enterprise and has forged partnerships with industry-leading technology providers to develop a full spectrum of data services.Websitehttp://www.centerforaia.com/https://inflexion-analytix-private-limited.business.site/?m=trueContact PersonManigandan /Shantha/AishwariaPhone Number7299917200/ 9790993237 / 9427329576Emailmanigandan@centerforaia.comRoleData AnalystIndustry TypeIT-Software, Software ServicesFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.Sc in Any Specialization, B.B.A / B.M.S in Any Specialization, B.Tech/B.E. in Any SpecializationPG :MBA/PGDM in Any Specialization, MCA in Any Specialization, M.Tech in Any Specialization, MS/M.Sc(Science) in Any SpecializationKey SkillsArtificial IntelligenceUnsupervised LearningMachine LearningStatisticsDeep LearningSQLData ScienceNLPAdvanced AnalyticsData VisualizationData WarehousingData AnalyticsETLAWSPython',
 'Job descriptionData Scientist - Data Mining/ Machine Learning/ Statistical AnalysisRequirements :- 3-9 years of strong experience in data mining, machine learning, and statistical analysis.- BS/MS/Ph.D. in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)- Ability to lead and deliver in a fast-paced start-up environment.- Fluency in tools such as Matlab, Python, etc.- Strong intuition for data and Keen aptitude on large scale data analysis- Excellent written and verbal communication skills.- Ability to collaborate across teams and strong interpersonal skills.RoleDatabase Architect/DesignerIndustry TypeIT-Software, Software ServicesFunctional AreaIT Software - DBA, DatawarehousingEmployment TypeFull Time, PermanentRole CategoryProgramming & DesignEducationUG :Any Graduate in Any Specialization, B.Sc in Computers, StatisticsPG :Any Postgraduate in Any Specialization, MS/M.Sc(Science) in Computers, StatisticsDoctorate :Doctorate Not RequiredKey SkillsData ScienceData ScientistData MiningStatistical AnalystMachine LearningMATLABPython',
 'Job descriptionRoles and ResponsibilitiesRequirements :- 6-9 years of strong experience in data mining, machine learning and statistical analysis.- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)- Ability to lead and deliver in a fast-paced start-up environment.- Fluency in tools such as Python/ R/ Matlab etc.- Strong intuition for data and Keen aptitude on large scale data analysis- Excellent written and verbal communication skills.- Ability to collaborate across teams and strong interpersonal skills.RoleData AnalystIndustry TypeIT-Software, Software ServicesFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.Sc in Other Specialization, Computers, StatisticsPG :MS/M.Sc(Science) in Computers, StatisticsDoctorate :Ph.D in Statistics, Computers, Other DoctorateKey SkillsData ScienceRData ScientistData MiningStatistical AnalystMachine LearningMATLABPython',
 'Job descriptionRoles and ResponsibilitiesSkill : NLP,Semantic model, NER model, Deep LearningNotice : who can join in a month maxJob description :- 5+ years of experience using analytical toolslanguages like Python & R on large scale data- Must have Semantic model & NER experience- Experience working with pre-trained models, awareness of state-of-art in embeddings and applicability for use cases- Experience on Deep Learning for Image processing, Video analytics will be a plus- Must have strong experience in NLPNLGNLU applications using any popular Deep learning frameworks like Open CV, PyTorch, Theano, Tensor Flow, Caffe. Should have implemented solutions for industry use cases.- Demonstrated ability to engage with client stakeholders at multiple levels and provide consultative solutioning across different domains- Deep knowledge of techniques such as Linear Regression, gradient descent, Logistic Regression, Forecasting, Cluster analysis, Decision trees, Linear Optimization, Text Mining etc.- Must have experience in doing POCs- Strong applied fundamentals in data management, parallel computing and distributed systems; experience in productionizing & retraining models- Ability to guide and mentor teams of associates on solution development and approaches- Broad knowledge of fundamentals and state-of-the-art in NLP and machine learning- Coding skills in one or more programming languages such as Python, Scala, Java, C, C++- Expert high level of understanding on language semantic concepts & data standardization- Proven track record of successful models and practical implementation- Hands-on experience with popular ML frameworks such as TensorFlow- Experience with application development practices at scale, from problem definition to deployment.- Familiarity with Cloud services such as AWS, SageMaker etc. is considered a plus- Develop and apply Statistical Modeling techniques (e.g. Bayesian models and deep neural networks), optimization methods, and other ML techniques to different applications- Knowledge in Machine Learning techniques in entity resolution, common speech products or text search domainRoleData AnalystIndustry TypeIT-Software, Software ServicesFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.Tech/B.E. in Any Specialization, BCA in Computers, B.Sc in Any SpecializationPG :Any Postgraduate in Any SpecializationDoctorate :Doctorate Not RequiredKey SkillsTensorflowRNLPVideo AnalyticsData ScientistImage ProcessingData ModelingNLU/NLGDeep LearningPython',
 'Job descriptionRoles and ResponsibilitiesMust have strong Python Programming SkillsStrong analytical & algorithm development skillsLogical and Analytical skills must be really strongMust have worked in DeepLearning Efforts - Especially computer vision.Must have experinece with Object Detection - Custom model training for Object detectionShould have experience with atleast one or more of these - Tensorflow, Keras, PyTorchPrimary Skills - Python + tensorflow - Keras / PyTorch, OpenCVPerks and BenefitsKindly share your resume to kandavelkumar.lakshmanan @cesltd.comRoleTechnical ArchitectIndustry TypeIT-Software, Software ServicesFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, PermanentRole CategoryProgramming & DesignEducationUG :Any Graduate in Any SpecializationKey SkillsTensorflowObject DetectionAlgorithm DevelopmentAnalytical SkillsProgrammingMachine LearningDeep LearningPytorchData ScienceROpencvKerasComputer VisionPython']

In [105]:
jobs2=pd.DataFrame({})
jobs2['Job Title']=titles[0:10]
jobs2['Company Name']=comp[0:10]
jobs2['Location']=loc[0:10]
jobs2['Experience Required']=exp[0:10]
jobs2['Job Description']=descrip[0:10]

In [106]:
jobs2

,Job Title,Company Name,Location,Experience Required,Job Description
0,Data Scientist/Data Analyst-immediate,Inflexion Analytix Private Limited,"Chennai, Pune, Bengaluru, Hyderabad",0-2 Yrs,Job descriptionJob descriptionDear CandidateSc...
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bengaluru,3-8 Yrs,Job descriptionData Scientist - Data Mining/ M...
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,6-11 Yrs,Job descriptionRoles and ResponsibilitiesRequi...
3,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,2-7 Yrs,Job descriptionRoles and ResponsibilitiesSkill...
4,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru",12-20 Yrs,Job descriptionRoles and ResponsibilitiesMust ...
5,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru",12-20 Yrs,"Job descriptionHi,Requirement for Sr Data Scie..."
6,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad",4-9 Yrs,Job descriptionRole Description:A Sr. Data Sci...
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",2-7 Yrs,Job descriptionWe are hiring Data Scientist an...
8,Data Scientist- Manager/Sr. Manager,GENPACT India Private Limited,Bengaluru,8-12 Yrs,Job descriptionDATA SCIENTIST / MACHINE LEARNI...
9,Sr Data Scientist,Concentrix Daksh Services India Private Limited.,"Pune, Mumbai, Bengaluru, Gurgaon, Kolkata",4-9 Yrs,Job descriptionRoles and Responsibilities- Mac...

# Q 3

In [121]:
driver.get('https://www.naukri.com')

In [122]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

In [123]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [124]:
loc_btn=driver.find_element_by_xpath("//label[@for='chk-Delhi/NCR-cityType-']/i")
loc_btn.click()

In [126]:
sal_but=driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
sal_but.click()

In [127]:
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6"

In [128]:
driver.get(url)

In [129]:
titles=[]
comp=[]
loc=[]
exp=[]

In [130]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [131]:
for i in title:
    a=i.text
    titles.append(a)
titles[0:5]

['Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Machine Learning',
 'Business Analyst - Data Scientist']

In [132]:
comp_1=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [133]:
for i in comp_1:
    a=i.text
    comp.append(a)
comp[0:5]

['IBM India Pvt. Limited',
 'Ciena',
 'Country Veggie',
 'Delhivery',
 'HyreFox Consultants Pvt Ltd']

In [134]:
loc_1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [135]:
for i in loc_1:
    a=i.text
    loc.append(a)
loc[0:5]

['Gurgaon Gurugram',
 'Gurgaon Gurugram',
 'Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Bengaluru, Gurgaon, Agra, Bharuch, Jaunpur, Nagpur, Delhi, Mumbai, Jaipur, Jhansi',
 'Gurgaon',
 'Gurgaon']

In [136]:
exp_1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [137]:
for i in exp_1:
    a=i.text
    exp.append(a)
exp[0:5]

['4-8 Yrs', '5-6 Yrs', '1-3 Yrs', '1-3 Yrs', '3-5 Yrs']

In [138]:
print(len(titles),len(comp),len(loc),len(exp))

20 20 20 20

In [139]:
jobs3=pd.DataFrame({})
jobs3['Job Title']=titles[0:10]
jobs3['Company Name']=comp[0:10]
jobs3['Location']=loc[0:10]
jobs3['Experience Required']=exp[0:10]

In [140]:
jobs3

,Job Title,Company Name,Location,Experience Required
0,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,4-8 Yrs
1,Data Scientist,Ciena,Gurgaon Gurugram,5-6 Yrs
2,Data Scientist,Country Veggie,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",1-3 Yrs
3,Data Scientist Machine Learning,Delhivery,Gurgaon,1-3 Yrs
4,Business Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,Gurgaon,3-5 Yrs
5,Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,Gurgaon,1-3 Yrs
6,Data Scientist,Amity University,"Faridabad, Delhi NCR, Ghaziabad",6-8 Yrs
7,Data Scientist,BlackBuck,"Bengaluru, Gurgaon",3-7 Yrs
8,Senior Data Scientist,iNICU,Delhi,1-5 Yrs
9,Senior Data Scientist - NLP,IRIS SOFTWARE Inc,Delhi NCR,4-9 Yrs