In [276]:
import selenium 
import pandas as pd
from selenium import webdriver

In [277]:
driver = webdriver.Chrome("C:/Users/91880/Downloads/chromedriver_win32/chromedriver.exe")

In [278]:
driver.get('https://www.amazon.in/')

In [280]:
product = input("Enter product to be searched:")

Enter product to be searched:mobile

In [281]:
product

'mobile'

In [282]:
search = driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
search.send_keys(product)

In [283]:
btn = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
btn.click()

In [284]:
url=[]
url_1=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
    
for i in url_1:
    a=i.get_attribute('href')
    url.append(a)

In [285]:
nxt=driver.find_element_by_xpath("//li[@class='a-last']")
nxt.click()

In [286]:
url_1=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
    
for i in url_1:
    a=i.get_attribute('href')
    url.append(a)

In [287]:
nxt=driver.find_element_by_xpath("//li[@class='a-last']")
nxt.click()

In [288]:
url_1=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
    
for i in url_1:
    a=i.get_attribute('href')
    url.append(a)

In [289]:
len(url)

75

In [290]:
brandf=[]
for i in url:
    driver.get(i)
    
    brand_1=driver.find_elements_by_xpath("//span[@id='productTitle']")
    
    if len(brand_1)==1:
        for j in brand_1:
            b=j.text.replace('\n','')
            c=b.split()
            d=c[0]
            brandf.append(d)
    else:
        brandf.append("-")

In [300]:
namef=[]
for i in url:
    driver.get(i)
    
    name_1=driver.find_elements_by_xpath("//span[@id='productTitle']")
    
    if len(name_1)==1:
        for j in name_1:
            b=j.text.replace('\n','')
            namef.append(b)
    else:
        namef.append("-")

In [302]:
ratef=[]
for i in url:
    driver.get(i)
    
    rate_1=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base']")
    
    if len(rate_1)==1:
        for j in rate_1:
            b=j.text.replace(' out of 5','')
            ratef.append(b)
    else:
        ratef.append("-")

In [312]:
ratenf=[]
a=1
for i in url:
    driver.get(i)
    
    raten_1=driver.find_elements_by_xpath("//span[@id='acrCustomerReviewText']")
    
    if len(raten_1)==0:
        ratenf.append("-")
        
    else:
        for j in raten_1:
            b=j.text.replace(' ratings','')
            a=a+1
            if a%2==1:
                ratenf.append(b)

In [319]:
pricef=[]
for i in url:
    driver.get(i)
    
    price_1=driver.find_elements_by_xpath("//span[@id='priceblock_ourprice']")
    
    if len(price_1)==1:
        for j in price_1:
            b=j.text
            pricef.append(b)
    
    else:
        price_2=driver.find_elements_by_xpath("//span[@id='priceblock_dealprice']")
        
        if len(price_2)==1:
            for k in price_2:
                c=k.text
                pricef.append(c)
                
        else:
            pricef.append("-")

In [342]:
delf=[]
availf=[]
for i in url:
    driver.get(i)
    
    del_1=driver.find_elements_by_xpath("//div[@id='ddmDeliveryMessage']/b")
    
    if len(del_1)==1:
        for j in del_1:
            b=j.text.replace('\n','')
            delf.append(b)
            availf.append("Available")
    else:
        delf.append("-")
        availf.append("Not available")

In [352]:
exchf=[]
for i in url:
    driver.get(i)
    
    exch_1=driver.find_elements_by_xpath("//div[@id='buyBackAccordionRow']/div/div/a/h5/div[2]/span/span")
    
    if len(exch_1)==1:
        for j in exch_1:
            b=j.text.replace('    ',' ')
            exchf.append(b)
    else:
        exchf.append("Exchange not available")

In [360]:
print(len(url),len(exchf),len(brandf),len(namef),len(ratef),len(ratenf),len(pricef),len(delf),len(availf))

75 75 75 75 75 75 75 75 75

In [361]:
table=pd.DataFrame({})
table['Brand Name']=brandf[:]
table['Product Name']=namef[:]
table['Product Rating']=ratef[:]
table['No. of ratings']=ratenf[:]
table['Price']=pricef[:]
table['Exchange Price']=exchf[:]
table['Availability']=availf[:]
table['Expected Delivery']=delf[:]
table['Product URL']=url[:]
table

,Brand Name,Product Name,Product Rating,No. of ratings,Price,Exchange Price,Availability,Expected Delivery,Product URL
0,Samsung,"Samsung Galaxy M51 (Electric Blue, 6GB RAM, 12...",4.4,"30,910","₹ 22,999.00","Up to 12,400.00 off",Available,"Thursday, March 4",https://www.amazon.in/gp/slredirect/picassoRed...
1,Apple,New Apple iPhone 12 Mini (128GB) - Black,4.3,"13,847","₹ 71,900.00","Up to 12,400.00 off",Available,"Monday, March 1",https://www.amazon.in/gp/slredirect/picassoRed...
2,Redmi,"Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)...",4.1,"11,330","₹ 6,799.00","Up to 6,400.00 off",Available,"Monday, March 1",https://www.amazon.in/Redmi-9A-2GB-32GB-Storag...
3,Redmi,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)",4,"2,995",-,"Up to 8,300.00 off",Available,"Tuesday, March 2",https://www.amazon.in/Redmi-Sky-Blue-64GB-Stor...
4,Oppo,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...",4,"13,847","₹ 11,990.00","Up to 11,350.00 off",Available,"Tuesday, March 2",https://www.amazon.in/Oppo-Mystery-Storage-Add...
...,...,...,...,...,...,...,...,...,...
70,Samsung,"Samsung Galaxy M01 Core (Black, 1GB RAM, 16GB ...",3.4,"9,200","₹ 4,999.00","Up to 4,700.00 off",Available,"Tuesday, March 2",https://www.amazon.in/Samsung-Galaxy-Storage-A...
71,Samsung,"Samsung Galaxy M31 (Space Black, 6GB RAM, 128G...",4.2,"131,842","₹ 16,499.00","Up to 12,400.00 off",Available,"Tuesday, March 2",https://www.amazon.in/Samsung-Galaxy-Space-Bla...
72,Samsung,"Samsung Galaxy M01 Core (Blue, 2GB RAM, 32GB S...",3.4,"9,200","₹ 5,999.00","Up to 5,650.00 off",Available,"Saturday, March 6",https://www.amazon.in/Samsung-Galaxy-Storage-A...
73,Redmi,"Redmi 9 Prime (Sunrise Flare, 4GB RAM, 64GB St...",4.2,"14,496","₹ 9,499.00","Up to 8,900.00 off",Available,"Monday, March 1",https://www.amazon.in/Redmi-Prime-Sunrise-Stor...
74,Lava,"Lava Z1 (2GBRAM, 16GB Storage) Denim Blue",3.6,20,"₹ 4,999.00","Up to 4,749.00 off",Available,"Monday, March 1",https://www.amazon.in/gp/slredirect/picassoRed...

In [362]:
table.to_csv('Web Scraping Assignment 3-Q2.csv')

In [363]:
driver.get('https://images.google.com/')

In [364]:
search = driver.find_element_by_xpath("//input[@class='gLFyf gsfi']")
search.send_keys("fruits")

In [365]:
search_btn = driver.find_element_by_xpath("//button[@class='Tg7LZd']")
search_btn.click()

In [399]:
title=[]
web=[]
url=[]

In [400]:
title_1=driver.find_elements_by_xpath("//a[@class='VFACy kGQAp sMi44c lNHeqe WGvvNb']")

In [401]:
for i in title_1:
    a=i.get_attribute('title')
    title.append(a)

In [402]:
web_1=driver.find_elements_by_xpath("//div[@class='fxgdke']")

In [403]:
for i in web_1:
    a=i.text
    web.append(a)

In [404]:
url_1=driver.find_elements_by_xpath("//div[@class='isv-r PNCib MSM1fd BUooTd']/a[2]")

In [405]:
url=[]
for i in url_1:
    a=i.get_attribute('href')
    url.append(a)

In [407]:
table=pd.DataFrame({})
table['Title']=title[0:100]
table['Website']=web[0:100]
table['URL']=url[0:100]
table

,Title,Website,URL
0,Fruits,healthyeating.org,https://www.healthyeating.org/Healthy-Eating/A...
1,Fruit - Wikipedia,en.wikipedia.org,https://www.google.com/url?sa=i&url=https%3A%2...
2,List of Fruits: Learn Common Names of Fruits i...,pinterest.com,https://www.google.com/url?sa=i&url=https%3A%2...
3,Buy Fruits (All in One) Book Online at Low Pri...,amazon.in,https://www.amazon.in/Fruits-All-One-Dreamland...
4,Do We Need Fruit Antioxidants? - Diagnosis Diet,diagnosisdiet.com,https://www.diagnosisdiet.com/full-article/fruit
...,...,...,...
95,5 Best Summer Season Fruits For You! - PharmEa...,pharmeasy.in,https://pharmeasy.in/blog/list-of-5-summer-sea...
96,Vegetable & Fruit Facts | Healthy Families BC,healthyfamiliesbc.ca,https://www.healthyfamiliesbc.ca/home/articles...
97,The Best Bodybuilding Fruits for Every Part of...,muscleandfitness.com,https://www.muscleandfitness.com/nutrition/gai...
98,16 Fruits You've Probably Never Heard Of,treehugger.com,https://www.treehugger.com/fruits-youve-probab...
99,These are the fruits and vegetables we waste t...,sciencenordic.com,https://sciencenordic.com/a/1452912

In [408]:
driver.get('https://images.google.com/')

In [410]:
search = driver.find_element_by_xpath("//input[@class='gLFyf gsfi']")
search.send_keys("cars")

In [411]:
search_btn = driver.find_element_by_xpath("//button[@class='Tg7LZd']")
search_btn.click()

In [412]:
title=[]
web=[]
url=[]

In [417]:
title_1=driver.find_elements_by_xpath("//a[@class='VFACy kGQAp sMi44c lNHeqe WGvvNb']")

In [418]:
for i in title_1:
    a=i.get_attribute('title')
    title.append(a)

In [420]:
web_1=driver.find_elements_by_xpath("//div[@class='fxgdke']")

In [421]:
for i in web_1:
    a=i.text
    web.append(a)

In [422]:
url_1=driver.find_elements_by_xpath("//div[@class='isv-r PNCib MSM1fd BUooTd']/a[2]")

In [423]:
url=[]
for i in url_1:
    a=i.get_attribute('href')
    url.append(a)

In [425]:
table=pd.DataFrame({})
table['Title']=title[0:100]
table['Website']=web[0:100]
table['URL']=url[0:100]
table

,Title,Website,URL
0,Here Are The Coolest New Cars For 2020,forbes.com,https://www.forbes.com/sites/jimgorzelany/2019...
1,JD Power Says Korean Cars Beat US and Europe i...,wired.com,https://www.wired.com/story/jd-power-korean-ca...
2,Car of the Year: ExtremeTech's Best Cars for 2...,extremetech.com,https://www.extremetech.com/extreme/303740-car...
3,Upcoming cars in India: Half-a-dozen cars comi...,auto.economictimes.indiatimes.com,https://auto.economictimes.indiatimes.com/news...
4,This list of the 10 new cars owners keep the l...,businessinsider.in,https://www.businessinsider.in/business/news/t...
...,...,...,...
95,U.S. News Best Luxury Vehicle Brands for 2021 ...,autocarindia.com,https://www.autocarindia.com/cars/cars-above-4...
96,The future of cars is electric – but how soon ...,mercedes-benz.com,https://www.mercedes-benz.com/en/vehicles/pass...
97,Toyota Cars Price in India - Toyota Models 202...,cardekho.com,https://www.cardekho.com/latestcars
98,How To Import Foreign Cars To India - Procedur...,pcmag.com,https://www.pcmag.com/picks/the-best-high-tech...
99,"Latest Cars in India - Prices, Images, Reviews...",scroll.in,https://scroll.in/article/949974/will-we-ever-...

In [445]:
driver.get('https://images.google.com/')

In [446]:
search = driver.find_element_by_xpath("//input[@class='gLFyf gsfi']")
search.send_keys("Machine Learning")

In [447]:
search_btn = driver.find_element_by_xpath("//button[@class='Tg7LZd']")
search_btn.click()

In [448]:
title=[]
web=[]
url=[]

In [449]:
title_1=driver.find_elements_by_xpath("//a[@class='VFACy kGQAp sMi44c lNHeqe WGvvNb']")

In [450]:
for i in title_1:
    a=i.get_attribute('title')
    title.append(a)

In [451]:
web_1=driver.find_elements_by_xpath("//div[@class='fxgdke']")

In [452]:
for i in web_1:
    a=i.text
    web.append(a)

In [453]:
url_1=driver.find_elements_by_xpath("//div[@class='isv-r PNCib MSM1fd BUooTd']/a[2]")

In [454]:
url=[]
for i in url_1:
    a=i.get_attribute('href')
    url.append(a)

In [455]:
table=pd.DataFrame({})
table['Title']=title[0:100]
table['Website']=web[0:100]
table['URL']=url[0:100]
table

,Title,Website,URL
0,Why Machine Learning Needs Semantics Not Just ...,forbes.com,https://www.forbes.com/sites/kalevleetaru/2019...
1,What You Need To Know About Machine Learning,forbes.com,https://www.forbes.com/sites/tomtaulli/2019/03...
2,How to Develop Machine Learning Applications f...,einfochips.com,https://www.einfochips.com/blog/how-to-develop...
3,Machine Learning - GeeksforGeeks,geeksforgeeks.org,https://www.geeksforgeeks.org/machine-learning/
4,Machine Learning: A Primer to Laboratory Appli...,thermofisher.com,https://www.thermofisher.com/blog/connectedlab...
...,...,...,...
95,Top 10 Machine Learning Algorithms List [2021 ...,simplilearn.com,https://www.simplilearn.com/10-algorithms-mach...
96,"Top 10 Courses to Learn AI, Machine Learning a...",analyticsinsight.net,https://www.analyticsinsight.net/top-10-course...
97,Machine Learning With Python (Learning Path) –...,realpython.com,https://realpython.com/learning-paths/machine-...
98,MobiDev - AI & Machine Learning Consulting & D...,mobidev.biz,https://mobidev.biz/services/machine-learning-...
99,How Machine Learning is Transforming Digital M...,aithority.com,https://aithority.com/guest-authors/how-machin...

In [457]:
driver.get('https://www.flipkart.com/')

In [460]:
search = driver.find_element_by_xpath("//input[@class='_3704LK']")
search.send_keys("smartphone")

In [461]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [462]:
url_1=driver.find_elements_by_xpath("//a[@class='_1fQZEK']")

In [463]:
url=[]
for i in url_1:
    a=i.get_attribute('href')
    url.append(a)

In [478]:
brand=[]
for i in url:
    driver.get(i)
    
    brand_1=driver.find_elements_by_xpath("//span[@class='B_NuCI']")
    
    if len(brand_1)==0:
        brand.append("-")
        
    else:
        for j in brand_1:
            b=j.text
            c=b.split()
            d=c[0]
            brand.append(d)

In [467]:
name=[]
for i in url:
    driver.get(i)
    
    name_1=driver.find_elements_by_xpath("//span[@class='B_NuCI']")
    
    for j in name_1:
        b=j.text
        name.append(b)

In [469]:
color=[]
for i in url:
    driver.get(i)
    
    read_btn = driver.find_element_by_xpath("//button[@class='_2KpZ6l _1FH0tX']")
    read_btn.click()
    
    color_1=driver.find_elements_by_xpath("//div[@class='_1UhVsV']/div[1]/table/tbody/tr[4]/td[2]")
    
    for j in color_1:
        b=j.text
        color.append(b)

In [470]:
ram=[]
for i in url:
    driver.get(i)
    
    read_btn = driver.find_element_by_xpath("//button[@class='_2KpZ6l _1FH0tX']")
    read_btn.click()
    
    ram_1=driver.find_elements_by_xpath("//div[@class='_1UhVsV']/div[4]/table/tbody/tr[2]/td[2]")
    
    for j in ram_1:
        b=j.text
        ram.append(b)

In [473]:
stor=[]
for i in url:
    driver.get(i)
    
    read_btn = driver.find_element_by_xpath("//button[@class='_2KpZ6l _1FH0tX']")
    read_btn.click()
    
    stor_1=driver.find_elements_by_xpath("//div[@class='_1UhVsV']/div[4]/table/tbody/tr[1]/td[2]")
    
    for j in stor_1:
        b=j.text
        stor.append(b)

In [471]:
pcam=[]
scam=[]
dis=[]
res=[]
pro=[]
proc=[]
batt=[]
price=[]

for i in url:
    driver.get(i)
    
    read_btn = driver.find_element_by_xpath("//button[@class='_2KpZ6l _1FH0tX']")
    read_btn.click()
    
    pcam_1=driver.find_elements_by_xpath("//div[@class='_1UhVsV']/div[5]/table/tbody/tr[2]/td[2]")
    scam_1=driver.find_elements_by_xpath("//div[@class='_1UhVsV']/div[5]/table/tbody/tr[5]/td[2]")
    dis_1=driver.find_elements_by_xpath("//div[@class='_1UhVsV']/div[2]/table/tbody/tr[1]/td[2]")
    res_1=driver.find_elements_by_xpath("//div[@class='_1UhVsV']/div[2]/table/tbody/tr[2]/td[2]")
    pro_1=driver.find_elements_by_xpath("//div[@class='_1UhVsV']/div[3]/table/tbody/tr[2]/td[2]")
    proc_1=driver.find_elements_by_xpath("//div[@class='_1UhVsV']/div[3]/table/tbody/tr[3]/td[2]")
    batt_1=driver.find_elements_by_xpath("//div[@class='_2418kt']/ul/li[4]")
    price_1=driver.find_elements_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
    
    
    for j in pcam_1:
        b=j.text
        pcam.append(b)
    
    for j in scam_1:
        b=j.text
        scam.append(b)
        
    for j in dis_1:
        b=j.text
        dis.append(b)
        
    for j in res_1:
        b=j.text
        res.append(b)
        
    for j in pro_1:
        b=j.text
        pro.append(b)
        
    for j in proc_1:
        b=j.text
        proc.append(b)
        
    for j in batt_1:
        b=j.text
        batt.append(b)
        
    for j in price_1:
        b=j.text
        price.append(b)

In [480]:
print(len(batt),len(price),len(brand),len(name),len(color),len(ram),len(stor),len(pcam),len(scam),len(dis),len(res),len(pro),len(proc),len(url))

24 24 24 24 24 24 24 24 24 24 24 24 24 24

In [481]:
table=pd.DataFrame({})
table['Brand Name']=brand[:]
table['Mobile Name']=name[:]
table['Color']=color[:]
table['RAM']=ram[:]
table['Storage(ROM)']=stor[:]
table['Primary Camera']=pcam[:]
table['Secondary Camera']=scam[:]
table['Display Size']=dis[:]
table['Display Resolution']=res[:]
table['Processor']=pro[:]
table['Processor Cores']=proc[:]
table['Battery Capacity']=batt[:]
table['Price']=price[:]
table['Product URL']=url[:]
table

,Brand Name,Mobile Name,Color,RAM,Storage(ROM),Primary Camera,Secondary Camera,Display Size,Display Resolution,Processor,Processor Cores,Battery Capacity,Price,Product URL
0,Realme,"Realme C11 (Rich Grey, 32 GB) (2 GB RAM)",Rich Grey,2 GB,32 GB,13MP + 2MP,5MP Front Camera,16.51 cm (6.5 inch),1600 x 720 Pixels,Mediatek Helio G35,Octa Core,5000 mAh Battery,"₹6,999",https://www.flipkart.com/realme-c11-rich-grey-...
1,Realme,"Realme C11 (Rich Green, 32 GB) (2 GB RAM)",Rich Green,2 GB,32 GB,13MP + 2MP,5MP Front Camera,16.51 cm (6.5 inch),1600 x 720 Pixels,Mediatek Helio G35,Octa Core,5000 mAh Battery,"₹6,999",https://www.flipkart.com/realme-c11-rich-green...
2,POCO,"POCO C3 (Matte Black, 32 GB) (3 GB RAM)",Matte Black,3 GB,32 GB,13MP + 2MP + 2MP,5MP Front Camera,16.59 cm (6.53 inch),1600 x 720 Pixels,Mediatek Helio G35,Octa Core,5000 mAh Li-ion Polymer Battery,"₹6,999",https://www.flipkart.com/poco-c3-matte-black-3...
3,I,"I Kall K3 (Red, 16 GB) (2 GB RAM)",Red,2 GB,16 GB,5,5,15.9 cm (6.26 inch),720 x 1080$$Pixels,Quad Core,0.3 GHz,3000 mAh Battery,"₹4,999",https://www.flipkart.com/kall-k3-red-16-gb/p/i...
4,POCO,"POCO C3 (Arctic Blue, 32 GB) (3 GB RAM)",Arctic Blue,3 GB,32 GB,13MP + 2MP + 2MP,5MP Front Camera,16.59 cm (6.53 inch),1600 x 720 Pixels,Mediatek Helio G35,Octa Core,5000 mAh Li-ion Polymer Battery,"₹6,999",https://www.flipkart.com/poco-c3-arctic-blue-3...
5,POCO,"POCO C3 (Lime Green, 32 GB) (3 GB RAM)",Lime Green,3 GB,32 GB,13MP + 2MP + 2MP,5MP Front Camera,16.59 cm (6.53 inch),1600 x 720 Pixels,Mediatek Helio G35,Octa Core,5000 mAh Li-ion Polymer Battery,"₹6,999",https://www.flipkart.com/poco-c3-lime-green-32...
6,POCO,"POCO M3 (Cool Blue, 64 GB) (6 GB RAM)",Cool Blue,6 GB,64 GB,48MP + 2MP + 2MP,8MP Front Camera,16.59 cm (6.53 inch),2340 x 1080 Pixels,Qualcomm Snapdragon 662,Octa Core,6000 mAh Lithium-ion Polymer Battery,"₹10,999",https://www.flipkart.com/poco-m3-cool-blue-64-...
7,POCO,"POCO C3 (Lime Green, 64 GB) (4 GB RAM)",Lime Green,4 GB,64 GB,13MP + 2MP + 2MP,5MP Front Camera,16.59 cm (6.53 inch),1600 x 720 Pixels,Mediatek Helio G35,Octa Core,5000 mAh Li-ion Polymer Battery,"₹7,999",https://www.flipkart.com/poco-c3-lime-green-64...
8,Redmi,"Redmi 9i (Midnight Black, 64 GB) (4 GB RAM)",Midnight Black,4 GB,64 GB,13MP Rear Camera,5MP Front Camera,16.59 cm (6.53 inch),1600 x 720 Pixels,MediaTek Helio G25,Octa Core,5000 mAh Lithium Polymer Battery,"₹7,999",https://www.flipkart.com/redmi-9i-midnight-bla...
9,POCO,"POCO M3 (Cool Blue, 128 GB) (6 GB RAM)",Cool Blue,6 GB,128 GB,48MP + 2MP + 2MP,8MP Front Camera,16.59 cm (6.53 inch),2340 x 1080 Pixels,Qualcomm Snapdragon 662,Octa Core,6000 mAh Lithium-ion Polymer Battery,"₹11,999",https://www.flipkart.com/poco-m3-cool-blue-128...
10,POCO,"POCO M3 (Power Black, 64 GB) (6 GB RAM)",Power Black,6 GB,64 GB,48MP + 2MP + 2MP,8MP Front Camera,16.59 cm (6.53 inch),2340 x 1080 Pixels,Qualcomm Snapdragon 662,Octa Core,6000 mAh Lithium-ion Polymer Battery,"₹10,999",https://www.flipkart.com/poco-m3-power-black-6...
11,POCO,"POCO M3 (Power Black, 128 GB) (6 GB RAM)",Power Black,6 GB,128 GB,48MP + 2MP + 2MP,8MP Front Camera,16.59 cm (6.53 inch),2340 x 1080 Pixels,Qualcomm Snapdragon 662,Octa Core,6000 mAh Lithium-ion Polymer Battery,"₹11,999",https://www.flipkart.com/poco-m3-power-black-1...
12,POCO,"POCO M2 Pro (Out of the Blue, 64 GB) (4 GB RAM)",Out of the Blue,4 GB,64 GB,48MP + 8MP + 5MP + 2MP,16MP Front Camera,16.94 cm (6.67 inch),2400 x 1080 Pixels,Qualcomm Snapdragon 720G,Octa Core,5000 mAh Lithium-ion Polymer Battery,"₹11,999",https://www.flipkart.com/poco-m2-pro-out-blue-...
13,I,"I Kall K900 (Sky Blue, 64 GB) (4 GB RAM)",Sky Blue,4 GB,64 GB,8MP Rear Camera,5MP Front Camera,13.97 cm (5.5 inch),480 x 960 Pixels,Quad Core,1.3 GHz,3000 mAh Battery,"₹5,699",https://www.flipkart.com/kall-k900-sky-blue-64...
14,Redmi,"Redmi 9 Prime (Space Blue, 64 GB) (4 GB RAM)",Space Blue,4 GB,64 GB,13MP Rear Camera,8MP Front Camera,16.59 cm (6.53 inch),2340 x 1080 Pixels,MediaTek Helio G80,Octa Core,5020 mAh Battery,"₹9,499",https://www.flipkart.com/redmi-9-prime-space-b...
15,POCO,"POCO M2 Pro (Green and Greener, 64 GB) (6 GB ...",Green and Greener,6 GB,64 GB,48MP + 8MP + 5MP + 2MP,16MP Front Camera,16.94 cm (6.67 inch),2400 x 1080 Pixels,Qualcomm Snapdragon 720G,Octa Core,5000 mAh Lithium-ion Polymer Battery,"₹12,999",https://www.flipkart.com/poco-m2-pro-green-gre...
16,POCO,"POCO M2 Pro (Out of the Blue, 64 GB) (6 GB RAM)",Out of the Blue,6 GB,64 GB,48MP + 8MP + 5MP + 2MP,16MP Front Camera,16.94 cm (6.67 inch),2400 x 1080 Pixels,Qualcomm Snapdragon 720G,Octa Core,5000 mAh Lithium-ion Polymer Battery,"₹12,999",https://www.flipkart.com/poco-m2-pro-out-blue-...
17,POCO,"POCO M2 (Slate Blue, 64 GB) (6 GB RAM)",Slate Blue,6 GB,64 GB,13MP + 8MP + 5MP + 2MP,8MP Front Camera,16.59 cm (6.53 inch),2340 x 1080 Pixels,MediaTek Helio G80,Octa Core,5000 mAh Lithium Polymer Battery,"₹9,999",https://www.flipkart.com/poco-m2-slate-blue-64...
18,Redmi,"Redmi 9i (Sea Blue, 64 GB) (4 GB RAM)",Sea Blue,4 GB,64 GB,13MP Rear Camera,5MP Front Camera,16.59 cm (6.53 inch),1600 x 720 Pixels,MediaTek Helio G25,Octa Core,5000 mAh Lithium Polymer Battery,"₹7,999",https://www.flipkart.com/redmi-9i-sea-blue-64-...
19,I,"I Kall K201 (Dark Blue, 16 GB) (2 GB RAM)",Dark Blue,2 GB,16 GB,8MP Rear Camera,"Filters, Low light capture, Night mode",15.9 cm (6.26 inch),480 x 960$$pixel,Quad Core,1.3 GHz,3000 mAh Battery,"₹4,999",https://www.flipkart.com/kall-k201-dark-blue-1...
20,Redmi,"Redmi 9 Prime (Mint Green, 64 GB) (4 GB RAM)",Mint Green,4 GB,64 GB,13MP Rear Camera,8MP Front Camera,16.59 cm (6.53 inch),2340 x 1080 Pixels,MediaTek Helio G80,Octa Core,5020 mAh Battery,"₹9,499",https://www.flipkart.com/redmi-9-prime-mint-gr...
21,Redmi,"Redmi 9i (Nature Green, 64 GB) (4 GB RAM)",Nature Green,4 GB,64 GB,13MP Rear Camera,5MP Front Camera,16.59 cm (6.53 inch),1600 x 720 Pixels,MediaTek Helio G25,Octa Core,5000 mAh Lithium Polymer Battery,"₹7,999",https://www.flipkart.com/redmi-9i-nature-green...
22,Realme,"Realme Narzo 20A (Glory Silver, 64 GB) (4 GB ...",Glory Silver,4 GB,64 GB,12MP + 2MP + 2MP,8MP Front Camera,16.51 cm (6.5 inch),1600 x 720 Pixels,Qualcomm Snapdragon 665,Octa Core,5000 mAh Lithium-ion Battery,"₹9,499",https://www.flipkart.com/realme-narzo-20a-glor...
23,I,"I Kall K380 (Blue, 32 GB) (4 GB RAM)",Blue,4 GB,32 GB,13MP Rear Camera,8MP Front Camera,18.08 cm (7.12 inch),480 x 960$$pixel,Quad Core,1.3 GHz,4000 mAh Battery,"₹6,799",https://www.flipkart.com/kall-k380-blue-32-gb/...

In [482]:
table.to_csv('Web Scraping Assignment 3-Q4.csv')

In [483]:
driver.get('https://www.google.com/maps/')

In [484]:
search = driver.find_element_by_xpath("//div[@class='sbib_b']/div/input")
search.send_keys("Pune")

In [485]:
search_btn = driver.find_element_by_xpath("//div[@class='searchbox-searchbutton-container']/button")
search_btn.click()

In [486]:
url = driver.current_url

In [487]:
print(url)

https://www.google.com/maps/place/Pune,+Maharashtra/@18.6270926,73.7830746,15z/data=!4m5!3m4!1s0x3bc2bf2e67461101:0x828d43bf9d9ee343!8m2!3d18.5204303!4d73.8567437

In [488]:
a=url.split('/')[6]
b=a.split('@')
c=b[1]
d=c.split(',')

In [491]:
print("Latitude =",d[0],"\nLongitude =",d[1])

Latitude = 18.6270926
Longitude = 73.7830746

In [492]:
driver.get('https://trak.in/')

In [493]:
btn = driver.find_element_by_id('menu-item-51510')
btn.click()

In [494]:
juldates=[] 
augdates=[] 
septdates=[]

In [496]:
a=1
n=48
b=1 
c=1
d=2
for j in range (0,10):
    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(a)+"]/td["+str(d)+"]"
    date_1=driver.find_element_by_xpath(date)
    juldates.append(date_1.text)
    a=a+1
    
    if a==11:
        n=n+1
        for k in range (0,10):
            date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(b)+"]/td["+str(d)+"]"
            date_2=driver.find_element_by_xpath(date)
            augdates.append(date_2.text)
            b=b+1
            
            if b==11:
                n=n+1
                for m in range (0,10):
                    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(c)+"]/td["+str(d)+"]"
                    date_3=driver.find_element_by_xpath(date)
                    septdates.append(date_3.text)
                    c=c+1

In [498]:
print(juldates),print(augdates),print(septdates)

['15/07/2020', '16/07/2020', '16/07/2020', '14/07/2020', '13/07/2020', '09/07/2020', '10/07/2020', '15/07/2020', '14/07/2020', '13/07/2020']
['15/08/2020', '13/08/2020', '13/08/2020', '04/08/2020', '11/08/2020', '12/08/2020', '14/08/2020', '10/08/2020', '07/08/2020', '13/08/2020']
['08/09/2020', '12/09/2020', '09/09/2020', '02/09/2020', '09/09/2020', '07/09/2020', '07/09/2020', '31/08/2020', '31/08/2020', '03/09/2020']

(None, None, None)

In [499]:
print(juldates)

['15/07/2020', '16/07/2020', '16/07/2020', '14/07/2020', '13/07/2020', '09/07/2020', '10/07/2020', '15/07/2020', '14/07/2020', '13/07/2020']

In [500]:
julnames=[]
augnames=[]
septnames=[]

In [501]:
a=1
n=48
b=1
c=1
d=3
for j in range (0,10):
    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(a)+"]/td["+str(d)+"]"
    date_1=driver.find_element_by_xpath(date)
    julnames.append(date_1.text)
    a=a+1
    
    if a==11:
        n=n+1
        for k in range (0,10):
            date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(b)+"]/td["+str(d)+"]"
            date_2=driver.find_element_by_xpath(date)
            augnames.append(date_2.text)
            b=b+1
            
            if b==11:
                n=n+1
                for m in range (0,10):
                    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(c)+"]/td["+str(d)+"]"
                    date_3=driver.find_element_by_xpath(date)
                    septnames.append(date_3.text)
                    c=c+1

In [502]:
print(julnames)
print(augnames)
print(septnames)

['Flipkart', 'Vedantu', 'Crio', 'goDutch', 'Mystifly', 'JetSynthesys', 'gigIndia', 'PumPumPum', 'FLYX', 'Open Appliances Pvt. Ltd.']
['Practo', 'Medlife', 'HungerBox', 'Dunzo', 'Terra.do', 'Classplus', 'Niyo', 'ZestMoney', 'FreshToHome', 'Eduvanz']
['Byju’s', 'mCaffeine', 'Qshala', 'Winzo', 'Hippo Video', 'Melorra', '1mg', 'mfine', 'Apna', 'Railofy']

In [503]:
julind=[]
augind=[]
septind=[]

In [504]:
a=1
n=48
b=1
c=1
d=4
for j in range (0,10):
    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(a)+"]/td["+str(d)+"]"
    date_1=driver.find_element_by_xpath(date)
    julind.append(date_1.text)
    a=a+1
    
    if a==11:
        n=n+1
        for k in range (0,10):
            date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(b)+"]/td["+str(d)+"]"
            date_2=driver.find_element_by_xpath(date)
            augind.append(date_2.text)
            b=b+1
            
            if b==11:
                n=n+1
                for m in range (0,10):
                    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(c)+"]/td["+str(d)+"]"
                    date_3=driver.find_element_by_xpath(date)
                    septind.append(date_3.text)
                    c=c+1

In [505]:
print(julind)
print(augind)
print(septind)

['E-commerce', 'EduTech', 'EduTech', 'FinTech', 'Airfare Marketplace', 'Gaming and Entertainment', 'Marketplace', 'Automotive Rental', 'OTT Player', 'Information Technology']
['HealthTech', 'E-commerce', 'FoodTech', 'Hyper-local Logistics', 'EduTech', 'EduTech', 'FinTech', 'FinTech', 'E-commerce', 'FinTech']
['EduTech', 'Personal Care', 'EduTech', 'Online Gaming', 'Video Customer Experience(CX) Platform', 'E-commerce', 'E-commerce', 'HealthTech', 'Human Resources', 'Transportation']

In [507]:
julvert=[]
augvert=[]
septvert=[]

In [508]:
a=1
n=48
b=1
c=1
d=5
for j in range (0,10):
    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(a)+"]/td["+str(d)+"]"
    date_1=driver.find_element_by_xpath(date)
    julvert.append(date_1.text)
    a=a+1
    
    if a==11:
        n=n+1
        for k in range (0,10):
            date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(b)+"]/td["+str(d)+"]"
            date_2=driver.find_element_by_xpath(date)
            augvert.append(date_2.text)
            b=b+1
            
            if b==11:
                n=n+1
                for m in range (0,10):
                    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(c)+"]/td["+str(d)+"]"
                    date_3=driver.find_element_by_xpath(date)
                    septvert.append(date_3.text)
                    c=c+1

In [509]:
print(julvert)
print(augvert)
print(septvert)

['E-commerce', 'Online Tutoring', 'Learning Platform for Developers', 'Group Payments', 'Ticketing, Airline Retailing, and Post-Ticketing Services', 'Gaming and Entertainment', 'Crowd Sourcing, Freelance', 'Used Car-leasing platform', 'Streaming Social Network', 'Internet-of-Things Security Solutions']
['Health care and Wellness', 'Online Pharmacy', 'Online Food Delivery Service', 'Online Delivery Services', 'Online Climate School, E-learning', 'E-learning, Online Tutoring', 'Financial Services', 'Financial Services', 'Food Delivery', 'Financial Services']
['Online Tutoring', 'Skincare & Haircare', 'Online Curiosity Platform for Kids', 'Online Gaming', 'Video Customer Experience(CX) Platform', 'Online Jewelry Store', 'Online Pharmacy', 'On-Demand Healthcare Services', 'Recruitment Platform', 'WL & RAC protection platform']

In [510]:
julloc=[]
augloc=[]
septloc=[]

In [511]:
a=1
n=48
b=1
c=1
d=6
for j in range (0,10):
    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(a)+"]/td["+str(d)+"]"
    date_1=driver.find_element_by_xpath(date)
    julloc.append(date_1.text)
    a=a+1
    
    if a==11:
        n=n+1
        for k in range (0,10):
            date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(b)+"]/td["+str(d)+"]"
            date_2=driver.find_element_by_xpath(date)
            augloc.append(date_2.text)
            b=b+1
            
            if b==11:
                n=n+1
                for m in range (0,10):
                    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(c)+"]/td["+str(d)+"]"
                    date_3=driver.find_element_by_xpath(date)
                    septloc.append(date_3.text)
                    c=c+1

In [512]:
print(julloc)
print(augloc)
print(septloc)

['Bangalore', 'Bangalore', 'Bangalore', 'Mumbai', 'Singapore and Bangalore', 'Pune', 'Pune', 'Gurgaon', 'New York and Delhi', 'Bangalore']
['Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Stanford, California,', 'Noida', 'Bangalore', 'Bangalore', 'Bangalore', 'Mumbai']
['Bangalore', 'Mumbai', 'Bangalore', 'New Delhi', 'Newark, Delaware, United States of Amercia', 'Bangalore', 'Gurgaon', 'Bangalore', 'Bangalore', 'Mumbai']

In [513]:
julinvest=[]
auginvest=[]
septinvest=[]

In [514]:
a=1
n=48
b=1
c=1
d=7
for j in range (0,10):
    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(a)+"]/td["+str(d)+"]"
    date_1=driver.find_element_by_xpath(date)
    julinvest.append(date_1.text)
    a=a+1
    
    if a==11:
        n=n+1
        for k in range (0,10):
            date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(b)+"]/td["+str(d)+"]"
            date_2=driver.find_element_by_xpath(date)
            auginvest.append(date_2.text)
            b=b+1
            
            if b==11:
                n=n+1
                for m in range (0,10):
                    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(c)+"]/td["+str(d)+"]"
                    date_3=driver.find_element_by_xpath(date)
                    septinvest.append(date_3.text)
                    c=c+1

In [515]:
print(julinvest)
print(auginvest)
print(septinvest)

['Walmart Inc', 'Coatue Management', '021 Capital', 'Matrix India,Y Combinator, Global Founders Capital, Soma Capital, and VentureSouq.', 'Recruit Co. Ltd.', 'Adar Poonawalla and Kris Gopalakrishnan.', 'Incubate Fund India and Beyond Next Ventures', 'Early Adapters Syndicate', 'Raj Mishra, founder of AIT Global Inc', 'Unicorn India Ventures']
['A1A Company', 'Prasid Uno Family Trust and SC Credit Fund', 'One97, Sabre Partners Trust, Pratithi Investment Trust, and Srihari Kumar', 'Existing Backers', 'Stanford Angels and Entrepreneurs (India), BEENEXT Emerging Asia, Rainmatter Capital', 'Falcon Edge', 'Niyo Solutions Inc.', 'Primrose Hills Ventures', 'Ascent Capital', 'Sequoia India, Unitus']
['Silver Lake, Tiger Global, General Atlantic and Owl Ventures', 'Amicus Capital Private Equity I LLP, Amicus Capital Partners India Fund I and RP-SG Venture Fund 1', 'Rainmatter Capital', 'Kalaari Capital Partners, IndigoEdge Management Consultancy', 'Alpha Wave Incubation, Exfinity Venture Partners and existing backers.', 'Shadow Holdings, Lightbox.', 'Gaja Capital, Tata Capital, Partners Group', 'Caretech Pte Inc', 'Lightspeed India and Sequoia Capital India', 'Chiratae Ventures']

In [516]:
jultype=[]
augtype=[]
septtype=[]

In [517]:
a=1
n=48
b=1
c=1
d=8
for j in range (0,10):
    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(a)+"]/td["+str(d)+"]"
    date_1=driver.find_element_by_xpath(date)
    jultype.append(date_1.text)
    a=a+1
    
    if a==11:
        n=n+1
        for k in range (0,10):
            date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(b)+"]/td["+str(d)+"]"
            date_2=driver.find_element_by_xpath(date)
            augtype.append(date_2.text)
            b=b+1
            
            if b==11:
                n=n+1
                for m in range (0,10):
                    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(c)+"]/td["+str(d)+"]"
                    date_3=driver.find_element_by_xpath(date)
                    septtype.append(date_3.text)
                    c=c+1

In [518]:
print(jultype)
print(augtype)
print(septtype)

['M&A', 'Series D', 'pre-Series A', 'Seed', 'pre-Series B', 'Venture-Series Unknown', 'pre-Series A', 'Seed', 'pre-Seed', 'Venture-Series Unknown']
['Series F', '', 'Series D1', 'In Progress', 'Seed', 'In Progress', '', '', 'Venture', 'Series A']
['Private Equity', 'Series B', 'Angel', 'Series B', 'Series A', 'Debt Financing', 'In Progress', 'Series B', 'Series A', 'Seed']

In [519]:
julamount=[]
augamount=[]
septamount=[]

In [520]:
a=1
n=48
b=1
c=1
d=9
for j in range (0,10):
    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(a)+"]/td["+str(d)+"]"
    date_1=driver.find_element_by_xpath(date)
    julamount.append(date_1.text)
    a=a+1
    
    if a==11:
        n=n+1
        for k in range (0,10):
            date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(b)+"]/td["+str(d)+"]"
            date_2=driver.find_element_by_xpath(date)
            augamount.append(date_2.text)
            b=b+1
            
            if b==11:
                n=n+1
                for m in range (0,10):
                    date="//table[@id='tablepress-"+str(n)+"']/tbody/tr["+str(c)+"]/td["+str(d)+"]"
                    date_3=driver.find_element_by_xpath(date)
                    septamount.append(date_3.text)
                    c=c+1

In [521]:
print(julamount)
print(augamount)
print(septamount)

['1,200,000,000', '100,000,000', '934,160', '1,700,000', '3,300,000', '400,000', '974,200', '292,800', '200,000', '500,000']
['32,000,000', '23,000,000', '1,560,000', '30,000,000', '1,400,000', 'upto 15,000,000', '6,000,000', '10,670,000', '16,200,000', '5,000,000']
['500,000,000', '3,000,000', '370,000', '15,500,000', '4,500,000', 'upto 8,900,000', '100,000,000', '5,400,000', '8,000,000', '950,000']

In [538]:
table=pd.DataFrame({})
table['Date']=juldates[:]
table['Startup']=julnames[:]
table['Industry']=julind[:]
table['Sub-Vertical']=julvert[:]
table['Location']=julloc[:]
table["Investor's Name"]=julinvest[:]
table['Investment Type']=jultype[:]
table['Amount(In USD)']=julamount[:]

In [539]:
print('\033[1m' + '                                                          JULY, 2020' + '\033[0m')                                                   
table

                                                          JULY, 2020

,Date,Startup,Industry,Sub-Vertical,Location,Investor's Name,Investment Type,Amount(In USD)
0,15/07/2020,Flipkart,E-commerce,E-commerce,Bangalore,Walmart Inc,M&A,"1,200,000,000"
1,16/07/2020,Vedantu,EduTech,Online Tutoring,Bangalore,Coatue Management,Series D,"100,000,000"
2,16/07/2020,Crio,EduTech,Learning Platform for Developers,Bangalore,021 Capital,pre-Series A,"934,160"
3,14/07/2020,goDutch,FinTech,Group Payments,Mumbai,"Matrix India,Y Combinator, Global Founders Cap...",Seed,"1,700,000"
4,13/07/2020,Mystifly,Airfare Marketplace,"Ticketing, Airline Retailing, and Post-Ticketi...",Singapore and Bangalore,Recruit Co. Ltd.,pre-Series B,"3,300,000"
5,09/07/2020,JetSynthesys,Gaming and Entertainment,Gaming and Entertainment,Pune,Adar Poonawalla and Kris Gopalakrishnan.,Venture-Series Unknown,"400,000"
6,10/07/2020,gigIndia,Marketplace,"Crowd Sourcing, Freelance",Pune,Incubate Fund India and Beyond Next Ventures,pre-Series A,"974,200"
7,15/07/2020,PumPumPum,Automotive Rental,Used Car-leasing platform,Gurgaon,Early Adapters Syndicate,Seed,"292,800"
8,14/07/2020,FLYX,OTT Player,Streaming Social Network,New York and Delhi,"Raj Mishra, founder of AIT Global Inc",pre-Seed,"200,000"
9,13/07/2020,Open Appliances Pvt. Ltd.,Information Technology,Internet-of-Things Security Solutions,Bangalore,Unicorn India Ventures,Venture-Series Unknown,"500,000"

In [540]:
table=pd.DataFrame({})
table['Date']=augdates[:]
table['Startup']=augnames[:]
table['Industry']=augind[:]
table['Sub-Vertical']=augvert[:]
table['Location']=augloc[:]
table["Investor's Name"]=auginvest[:]
table['Investment Type']=augtype[:]
table['Amount(In USD)']=augamount[:]

In [542]:
print('\033[1m' + '                                                        AUGUST, 2020' + '\033[0m')                                                   
table

                                                        AUGUST, 2020

,Date,Startup,Industry,Sub-Vertical,Location,Investor's Name,Investment Type,Amount(In USD)
0,15/08/2020,Practo,HealthTech,Health care and Wellness,Bangalore,A1A Company,Series F,"32,000,000"
1,13/08/2020,Medlife,E-commerce,Online Pharmacy,Bangalore,Prasid Uno Family Trust and SC Credit Fund,,"23,000,000"
2,13/08/2020,HungerBox,FoodTech,Online Food Delivery Service,Bangalore,"One97, Sabre Partners Trust, Pratithi Investme...",Series D1,"1,560,000"
3,04/08/2020,Dunzo,Hyper-local Logistics,Online Delivery Services,Bangalore,Existing Backers,In Progress,"30,000,000"
4,11/08/2020,Terra.do,EduTech,"Online Climate School, E-learning","Stanford, California,","Stanford Angels and Entrepreneurs (India), BEE...",Seed,"1,400,000"
5,12/08/2020,Classplus,EduTech,"E-learning, Online Tutoring",Noida,Falcon Edge,In Progress,"upto 15,000,000"
6,14/08/2020,Niyo,FinTech,Financial Services,Bangalore,Niyo Solutions Inc.,,"6,000,000"
7,10/08/2020,ZestMoney,FinTech,Financial Services,Bangalore,Primrose Hills Ventures,,"10,670,000"
8,07/08/2020,FreshToHome,E-commerce,Food Delivery,Bangalore,Ascent Capital,Venture,"16,200,000"
9,13/08/2020,Eduvanz,FinTech,Financial Services,Mumbai,"Sequoia India, Unitus",Series A,"5,000,000"

In [543]:
table=pd.DataFrame({})
table['Date']=septdates[:]
table['Startup']=septnames[:]
table['Industry']=septind[:]
table['Sub-Vertical']=septvert[:]
table['Location']=septloc[:]
table["Investor's Name"]=septinvest[:]
table['Investment Type']=septtype[:]
table['Amount(In USD)']=septamount[:]

In [544]:
print('\033[1m' + '                                                        SEPTEMBER, 2020' + '\033[0m')                                                   
table

                                                        SEPTEMBER, 2020

,Date,Startup,Industry,Sub-Vertical,Location,Investor's Name,Investment Type,Amount(In USD)
0,08/09/2020,Byju’s,EduTech,Online Tutoring,Bangalore,"Silver Lake, Tiger Global, General Atlantic an...",Private Equity,"500,000,000"
1,12/09/2020,mCaffeine,Personal Care,Skincare & Haircare,Mumbai,"Amicus Capital Private Equity I LLP, Amicus Ca...",Series B,"3,000,000"
2,09/09/2020,Qshala,EduTech,Online Curiosity Platform for Kids,Bangalore,Rainmatter Capital,Angel,"370,000"
3,02/09/2020,Winzo,Online Gaming,Online Gaming,New Delhi,"Kalaari Capital Partners, IndigoEdge Managemen...",Series B,"15,500,000"
4,09/09/2020,Hippo Video,Video Customer Experience(CX) Platform,Video Customer Experience(CX) Platform,"Newark, Delaware, United States of Amercia","Alpha Wave Incubation, Exfinity Venture Partne...",Series A,"4,500,000"
5,07/09/2020,Melorra,E-commerce,Online Jewelry Store,Bangalore,"Shadow Holdings, Lightbox.",Debt Financing,"upto 8,900,000"
6,07/09/2020,1mg,E-commerce,Online Pharmacy,Gurgaon,"Gaja Capital, Tata Capital, Partners Group",In Progress,"100,000,000"
7,31/08/2020,mfine,HealthTech,On-Demand Healthcare Services,Bangalore,Caretech Pte Inc,Series B,"5,400,000"
8,31/08/2020,Apna,Human Resources,Recruitment Platform,Bangalore,Lightspeed India and Sequoia Capital India,Series A,"8,000,000"
9,03/09/2020,Railofy,Transportation,WL & RAC protection platform,Mumbai,Chiratae Ventures,Seed,"950,000"

In [547]:
driver.get('https://www.digit.in/')

In [548]:
search = driver.find_element_by_xpath("//div[@class='listing_container']/ul/li[9]")
search.click()

In [549]:
lap_1=driver.find_elements_by_xpath("//div[@data-title='MSI GT76 TITAN DT 9SG']/following-sibling::div/div/table/tbody/tr/td[3]")

In [553]:
list=[]
for i in lap_1:
    list.append(i.text)

In [555]:
len(list)

70

In [556]:
os=[]
disp=[]
pro=[]
mem=[]
weight=[]
dimen=[]
graph=[]

In [557]:
a=0
for i in list:
    if a%7==0:
        os.append(i)
    if a%7==1:
        disp.append(i)
    if a%7==2:
        pro.append(i)
    if a%7==3:
        mem.append(i)
    if a%7==4:
        weight.append(i)
    if a%7==5:
        dimen.append(i)
    if a%7==6:
        graph.append(i)
    a=a+1

In [559]:
price_1=driver.find_elements_by_xpath("//table[@id='summtable']/tbody/tr/td[3]")

In [563]:
price=[]
for i in price_1:
    price.append(i.text)

In [564]:
seller_1=driver.find_elements_by_xpath("//table[@id='summtable']/tbody/tr/td[2]")

In [565]:
seller=[]
for i in seller_1:
    seller.append(i.text)

In [567]:
print(len(os),len(disp),len(pro),len(mem),len(weight),len(dimen),len(graph),len(price),len(seller))

10 10 10 10 10 10 10 10 10

In [568]:
table=pd.DataFrame({})
table['OS']=os[:]
table['Display']=disp[:]
table['Processor']=pro[:]
table['Memory']=mem[:]
table['Weight']=weight[:]
table["Dimension"]=dimen[:]
table['Graphic Processor']=graph[:]
table['Price']=price[:]
table['Seller']=seller[:]
table

,OS,Display,Processor,Memory,Weight,Dimension,Graphic Processor,Price,Seller
0,Windows 10 Pro,"17.3"" (UHD 3840x2160)",Intel 9th Gen Core i9-9900K | 5000 MHz,1 TB HDD/64 GBGB DDR4,4.2 kg,397 x 330 x 33~42 mm,NVIDIA GeForce RTX 2080,₹379990,N/A
1,Windows 10 Pro,"17.3"" (FHD (1920 x 1080))",Intel 9th Gen Core i9-9900K | 5000 MHz,1 TB PCIe SSD/32GB DDR4,3.87 Kg,42 mm x 402.6 mm x 319.14 mm,NVIDIA GeForce RTX 2080,₹489909,amazon
2,Windows 10 Home,"15.6"" (1920 x 1080)",Intel i7-10750H 10th Gen | 1.6GHz,512 GB SSD/16 GBGB DDR4,5.40,14.09 x 9.44 x 0.89,Nvidia GeForce GTX 1650Ti,₹114990,amazon
3,Windows 10 Home,"14"" (1920 x 1080)",AMD 3rd Generation Ryzen 9 | 3.3 GHz,1 TB SSD/16 GBGB DDR4,1.65,32.5 x 22.1 x 1.8,NVIDIA GeForce RTX 2060,₹164990,amazon
4,Windows 10 Home,"15.6"" (1920 X 1080)",9th Generation Core Intel I7-9750H | 2.6 Ghz,1 TB SSD/8GB DDR4,2.3,365mm x 260mm x 25.9mm,NVIDIA® GeForce RTX™ 2060,₹79990,flipkart
5,Windows 10 Home,"15.6"" (1920 x 1080)",AMD Ryzen 7 Quad Core 3750H | 2.3 GHz,512 GB SSD/16GB DDR4,2.2,360 x 252 x 20.4,NVIDIA Geforce GTX 1660 Ti,₹79990,flipkart
6,Windows 10 Home,"15.6"" (1920 X 1080)",9th Gen Intel Core i7-8750H | 2.2 GHz,512GB SSD/16 GBGB DDR4,2.1,360 (W) x 268 (D) x 15.35~16.15 (H) mm,NVIDIA® GeForce RTX™ 2070 (Max-Q),₹146000,amazon
7,Windows 10 Home 64 bit,"18.4"" (1920 x 1080)",Intel CM238 Core i7-7820HK+CM238 7th Gen | 3.5GHz,1.5 TB SATA/64GB DDR4,5.5,458 x 339 x 69,Dual GTX1070,₹349990,N/A
8,Windows 10,"15.6"" (3840 x 1100)",Intel Core i7 10th Gen 10875H | NA,512 GB SSD/4 GBGB DDR4,2.4,268.30 x 360.00 x 20.90,NVIDIA GeForce RTX 2070 Max-Q,₹259990,amazon
9,Windows 10 Home Plus,15.6 MP | NA,8th Generation Intel® Core™ i7-8750H | NA,256 + 1 TB SSD + SATA/16GB DDR4,2.53,22.7 X 380 X 258,NVIDIA® GeForce® GTX,₹61990,amazon