# Q1

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\program1\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\program1\lib\site-packages (from selenium) (1.25.11)

In [10]:
import selenium 
import pandas as pd
from selenium import webdriver

In [54]:
driver = webdriver.Chrome("C:/Users/91880/Downloads/chromedriver_win32/chromedriver.exe")

In [55]:
driver.get('https://www.naukri.com')

In [56]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [57]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [58]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [59]:
driver.get(url)

In [60]:
titles=[]
comp=[]
loc=[]
exp=[]

In [61]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [62]:
for i in title:
    a=i.text
    titles.append(a)
titles[0:5]

['Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst',
 'Data Analyst',
 'Business / Data Analyst']

In [63]:
comp_1=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [64]:
for i in comp_1:
    a=i.text
    comp.append(a)
comp[0:5]

['Boston Scientific Corporation',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'Shell India Markets Private Limited',
 'IBM India Pvt. Limited']

In [65]:
loc_1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [66]:
for i in loc_1:
    a=i.text
    loc.append(a)
loc[0:5]

['Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Bengaluru']

In [67]:
exp_1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [68]:
for i in exp_1:
    a=i.text
    exp.append(a)
exp[0:5]

['3-5 Yrs', '2-5 Yrs', '2-5 Yrs', '5-8 Yrs', '2-4 Yrs']

In [69]:
print(len(titles),len(comp),len(loc),len(exp))

20 20 20 20

In [70]:
jobs=pd.DataFrame({})
jobs['Job Title']=titles[0:10]
jobs['Company Name']=comp[0:10]
jobs['Location']=loc[0:10]
jobs['Experience Required']=exp[0:10]

In [71]:
jobs

,Job Title,Company Name,Location,Experience Required
0,Data Analyst - SAP,Boston Scientific Corporation,"Pune, Delhi, Bengaluru, Gurgaon",3-5 Yrs
1,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs
2,Senior Data Analyst,Schneider Electric,Bengaluru / Bangalore,2-5 Yrs
3,Data Analyst,Shell India Markets Private Limited,Bengaluru,5-8 Yrs
4,Business / Data Analyst,IBM India Pvt. Limited,Bengaluru,2-4 Yrs
5,Intern Data Analyst,Outsource Big Data,Bengaluru,0-1 Yrs
6,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bengaluru,4-6 Yrs
7,Data Analyst,Reliance Jio Infocomm Ltd.,Bengaluru,8-9 Yrs
8,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,Bengaluru,7-12 Yrs
9,Data Analyst,EZEU,Bengaluru,2-7 Yrs

# Q2

In [72]:
driver.get('https://www.naukri.com')

In [73]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [74]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [80]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [81]:
driver.get(url)

In [82]:
titles=[]
comp=[]
loc=[]
exp=[]
descrip=[]

In [83]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [84]:
for i in title:
    a=i.text
    titles.append(a)
titles[0:5]

['Data Scientist/Data Analyst-immediate',
 'Data Scientist - Python/ MATLAB/ Machine Learning Algorithms',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist - Machine Learning (Commerce BU)',
 'Opening For Sr. Data Scientist @ Tech Mahindra']

In [85]:
comp_1=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [86]:
for i in comp_1:
    a=i.text
    comp.append(a)
comp[0:5]

['Inflexion Analytix Private Limited',
 'Wrackle Technologies Pvt Ltd',
 'Wrackle Technologies Pvt Ltd',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'Tech Mahindra Ltd.']

In [87]:
loc_1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [93]:
for i in loc_1:
    a=i.text
    loc.append(a)
loc[0:5]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Pune, Bengaluru']

In [94]:
exp_1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [97]:
for i in exp_1:
    a=i.text
    exp.append(a)
exp[0:5]

['0-2 Yrs', '3-8 Yrs', '6-11 Yrs', '2-7 Yrs', '12-20 Yrs']

In [98]:
print(len(titles),len(comp),len(loc),len(exp))

20 20 20 20

In [99]:
urls=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [100]:
url=[]
for i in urls:
    a=i.get_attribute('href')
    url.append(a)

In [101]:
url[0:5]

['https://www.naukri.com/job-listings-data-scientist-data-analyst-immediate-inflexion-analytix-private-limited-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-2-years-160221001218?src=jobsearchDesk&sid=16136419234102712&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-matlab-machine-learning-algorithms-wrackle-technologies-pvt-ltd-bengaluru-bangalore-3-to-8-years-080221905947?src=jobsearchDesk&sid=16136419234102712&xp=2&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bengaluru-bangalore-6-to-11-years-080221900886?src=jobsearchDesk&sid=16136419234102712&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-commerce-bu-blue-yonder-india-private-limited-bengaluru-bangalore-2-to-7-years-160221904332?src=jobsearchDesk&sid=16136419234102712&xp=4&px=1',
 'https://www.naukri.com/job-listings-opening-for-sr-data-scientist-tech-mahindra-tech-mahindra-ltd-pune-bengaluru-bangalore-12-to-20-years-100221001125?src=jobsearchDesk&sid=16136419234102712&xp=5&px=1']

In [102]:
for i in url:
    driver.get(i)
    desc=driver.find_elements_by_xpath("//section[@class='job-desc']")
    
    for j in desc:
        a=j.text
        descrip.append(a.replace('\n',''))

In [104]:
descrip[0:5]

['Job descriptionJob descriptionDear CandidateSchedule a Telephonic Interview ( Please call for confirmation) : Mon- Sat from 11:00am to 5:00pm only.OR Walk-In to the Corporate office between Monday to Friday from 11:00am to 5:00pmContact person :Manigandan -+91 7299917200Shantha +91 9790993237Aishwaria 9427329576Greetings from CAIA !A great opportunity to enter the world of future technologies - Data Science, Analytics, AI, Data VisualizationApplications invited from all Freshers and experienced candidates aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.In case you are trying to shift your career to Analytics and/or AI domain please do connect with us to know more.What is needed from you?- An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA- Skills relating to Mathematics/Statistics.- Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization- Good verbal and written communication skills- Ability to understand domains in businesses across various sectors- Freshers who wish to start their career in Analytics and AI and professionals who wish to up skill or change their domain to analytics and emerging technologies are free to apply.Selection procedure includes- Online Aptitude Test- Logical Ability Test / Written TestOn being shortlisted, you will be have to undergo a one-one discussion with our counsellor for further evaluation and processing of your Resume.What you can expect from us?You will get trained on the following modules for a period of 12-14 weeks:-SQL & PLSQL-Data Wrangling using Python-Statistics for Machine Learning,-Artificial Intelligence, Data Interpretation-Supervised & Unsupervised Learning,-NLP & Deep Learning-Cloud Data Lake-Business intelligence & Data Visualization-Simulation ProjectsWhat is the expected Outcome?At the end of the Training you are expected to be well versed with the following:- Analysis of large and complex data sets from multiple sources- Development and evaluation of data analytics models, algorithms and solutions- Understanding/implementation of ML algorithms, performance tuning and reporting- Implementation of algorithms to mine targeted data and the ability to convert data into a business story- Translation of business requirements into technical requirements; Data extraction, preparation and transformation- Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organisation- Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholdersCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics2. Advanced Training programs for readying the future ready workforce3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.http://www.centerforaia.com/Center for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advanced Analytics solutions for Fortune 500 companies through specialized programmed.5F World5F World is a leader in digital transformational journeys and has brought together the best minds in industry, academia and technology domains to develop a unique framework to transform stakeholder journeys through innovation and digitalization of businesses and education institutions.Systech SolutionsSystech Solutions is a leading organisation in Data Strategy, Management & Analytics services provider with deep technology expertise and over 20 years of industry experience. Systech Solutions helps empower clients with innovative, data-driven solutions to reimagine their enterprise and has forged partnerships with industry-leading technology providers to develop a full spectrum of data services.Websitehttp://www.centerforaia.com/https://inflexion-analytix-private-limited.business.site/?m=trueContact PersonManigandan /Shantha/AishwariaPhone Number7299917200/ 9790993237 / 9427329576Emailmanigandan@centerforaia.comRoleData AnalystIndustry TypeIT-Software, Software ServicesFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.Sc in Any Specialization, B.B.A / B.M.S in Any Specialization, B.Tech/B.E. in Any SpecializationPG :MBA/PGDM in Any Specialization, MCA in Any Specialization, M.Tech in Any Specialization, MS/M.Sc(Science) in Any SpecializationKey SkillsArtificial IntelligenceUnsupervised LearningMachine LearningStatisticsDeep LearningSQLData ScienceNLPAdvanced AnalyticsData VisualizationData WarehousingData AnalyticsETLAWSPython',
 'Job descriptionData Scientist - Data Mining/ Machine Learning/ Statistical AnalysisRequirements :- 3-9 years of strong experience in data mining, machine learning, and statistical analysis.- BS/MS/Ph.D. in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)- Ability to lead and deliver in a fast-paced start-up environment.- Fluency in tools such as Matlab, Python, etc.- Strong intuition for data and Keen aptitude on large scale data analysis- Excellent written and verbal communication skills.- Ability to collaborate across teams and strong interpersonal skills.RoleDatabase Architect/DesignerIndustry TypeIT-Software, Software ServicesFunctional AreaIT Software - DBA, DatawarehousingEmployment TypeFull Time, PermanentRole CategoryProgramming & DesignEducationUG :Any Graduate in Any Specialization, B.Sc in Computers, StatisticsPG :Any Postgraduate in Any Specialization, MS/M.Sc(Science) in Computers, StatisticsDoctorate :Doctorate Not RequiredKey SkillsData ScienceData ScientistData MiningStatistical AnalystMachine LearningMATLABPython',
 'Job descriptionRoles and ResponsibilitiesRequirements :- 6-9 years of strong experience in data mining, machine learning and statistical analysis.- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)- Ability to lead and deliver in a fast-paced start-up environment.- Fluency in tools such as Python/ R/ Matlab etc.- Strong intuition for data and Keen aptitude on large scale data analysis- Excellent written and verbal communication skills.- Ability to collaborate across teams and strong interpersonal skills.RoleData AnalystIndustry TypeIT-Software, Software ServicesFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.Sc in Other Specialization, Computers, StatisticsPG :MS/M.Sc(Science) in Computers, StatisticsDoctorate :Ph.D in Statistics, Computers, Other DoctorateKey SkillsData ScienceRData ScientistData MiningStatistical AnalystMachine LearningMATLABPython',
 'Job descriptionRoles and ResponsibilitiesSkill : NLP,Semantic model, NER model, Deep LearningNotice : who can join in a month maxJob description :- 5+ years of experience using analytical toolslanguages like Python & R on large scale data- Must have Semantic model & NER experience- Experience working with pre-trained models, awareness of state-of-art in embeddings and applicability for use cases- Experience on Deep Learning for Image processing, Video analytics will be a plus- Must have strong experience in NLPNLGNLU applications using any popular Deep learning frameworks like Open CV, PyTorch, Theano, Tensor Flow, Caffe. Should have implemented solutions for industry use cases.- Demonstrated ability to engage with client stakeholders at multiple levels and provide consultative solutioning across different domains- Deep knowledge of techniques such as Linear Regression, gradient descent, Logistic Regression, Forecasting, Cluster analysis, Decision trees, Linear Optimization, Text Mining etc.- Must have experience in doing POCs- Strong applied fundamentals in data management, parallel computing and distributed systems; experience in productionizing & retraining models- Ability to guide and mentor teams of associates on solution development and approaches- Broad knowledge of fundamentals and state-of-the-art in NLP and machine learning- Coding skills in one or more programming languages such as Python, Scala, Java, C, C++- Expert high level of understanding on language semantic concepts & data standardization- Proven track record of successful models and practical implementation- Hands-on experience with popular ML frameworks such as TensorFlow- Experience with application development practices at scale, from problem definition to deployment.- Familiarity with Cloud services such as AWS, SageMaker etc. is considered a plus- Develop and apply Statistical Modeling techniques (e.g. Bayesian models and deep neural networks), optimization methods, and other ML techniques to different applications- Knowledge in Machine Learning techniques in entity resolution, common speech products or text search domainRoleData AnalystIndustry TypeIT-Software, Software ServicesFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.Tech/B.E. in Any Specialization, BCA in Computers, B.Sc in Any SpecializationPG :Any Postgraduate in Any SpecializationDoctorate :Doctorate Not RequiredKey SkillsTensorflowRNLPVideo AnalyticsData ScientistImage ProcessingData ModelingNLU/NLGDeep LearningPython',
 'Job descriptionRoles and ResponsibilitiesMust have strong Python Programming SkillsStrong analytical & algorithm development skillsLogical and Analytical skills must be really strongMust have worked in DeepLearning Efforts - Especially computer vision.Must have experinece with Object Detection - Custom model training for Object detectionShould have experience with atleast one or more of these - Tensorflow, Keras, PyTorchPrimary Skills - Python + tensorflow - Keras / PyTorch, OpenCVPerks and BenefitsKindly share your resume to kandavelkumar.lakshmanan @cesltd.comRoleTechnical ArchitectIndustry TypeIT-Software, Software ServicesFunctional AreaIT Software - Application Programming, MaintenanceEmployment TypeFull Time, PermanentRole CategoryProgramming & DesignEducationUG :Any Graduate in Any SpecializationKey SkillsTensorflowObject DetectionAlgorithm DevelopmentAnalytical SkillsProgrammingMachine LearningDeep LearningPytorchData ScienceROpencvKerasComputer VisionPython']

In [105]:
jobs2=pd.DataFrame({})
jobs2['Job Title']=titles[0:10]
jobs2['Company Name']=comp[0:10]
jobs2['Location']=loc[0:10]
jobs2['Experience Required']=exp[0:10]
jobs2['Job Description']=descrip[0:10]

In [106]:
jobs2

,Job Title,Company Name,Location,Experience Required,Job Description
0,Data Scientist/Data Analyst-immediate,Inflexion Analytix Private Limited,"Chennai, Pune, Bengaluru, Hyderabad",0-2 Yrs,Job descriptionJob descriptionDear CandidateSc...
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bengaluru,3-8 Yrs,Job descriptionData Scientist - Data Mining/ M...
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,6-11 Yrs,Job descriptionRoles and ResponsibilitiesRequi...
3,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,2-7 Yrs,Job descriptionRoles and ResponsibilitiesSkill...
4,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru",12-20 Yrs,Job descriptionRoles and ResponsibilitiesMust ...
5,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru",12-20 Yrs,"Job descriptionHi,Requirement for Sr Data Scie..."
6,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad",4-9 Yrs,Job descriptionRole Description:A Sr. Data Sci...
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",2-7 Yrs,Job descriptionWe are hiring Data Scientist an...
8,Data Scientist- Manager/Sr. Manager,GENPACT India Private Limited,Bengaluru,8-12 Yrs,Job descriptionDATA SCIENTIST / MACHINE LEARNI...
9,Sr Data Scientist,Concentrix Daksh Services India Private Limited.,"Pune, Mumbai, Bengaluru, Gurgaon, Kolkata",4-9 Yrs,Job descriptionRoles and Responsibilities- Mac...

# Q3

In [121]:
driver.get('https://www.naukri.com')

In [122]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

In [123]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [124]:
loc_btn=driver.find_element_by_xpath("//label[@for='chk-Delhi/NCR-cityType-']/i")
loc_btn.click()

In [126]:
sal_but=driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
sal_but.click()

In [127]:
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6"

In [128]:
driver.get(url)

In [129]:
titles=[]
comp=[]
loc=[]
exp=[]

In [130]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [131]:
for i in title:
    a=i.text
    titles.append(a)
titles[0:5]

['Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Machine Learning',
 'Business Analyst - Data Scientist']

In [132]:
comp_1=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [133]:
for i in comp_1:
    a=i.text
    comp.append(a)
comp[0:5]

['IBM India Pvt. Limited',
 'Ciena',
 'Country Veggie',
 'Delhivery',
 'HyreFox Consultants Pvt Ltd']

In [134]:
loc_1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [135]:
for i in loc_1:
    a=i.text
    loc.append(a)
loc[0:5]

['Gurgaon Gurugram',
 'Gurgaon Gurugram',
 'Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Bengaluru, Gurgaon, Agra, Bharuch, Jaunpur, Nagpur, Delhi, Mumbai, Jaipur, Jhansi',
 'Gurgaon',
 'Gurgaon']

In [136]:
exp_1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [137]:
for i in exp_1:
    a=i.text
    exp.append(a)
exp[0:5]

['4-8 Yrs', '5-6 Yrs', '1-3 Yrs', '1-3 Yrs', '3-5 Yrs']

In [138]:
print(len(titles),len(comp),len(loc),len(exp))

20 20 20 20

In [139]:
jobs3=pd.DataFrame({})
jobs3['Job Title']=titles[0:10]
jobs3['Company Name']=comp[0:10]
jobs3['Location']=loc[0:10]
jobs3['Experience Required']=exp[0:10]

In [140]:
jobs3

,Job Title,Company Name,Location,Experience Required
0,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,4-8 Yrs
1,Data Scientist,Ciena,Gurgaon Gurugram,5-6 Yrs
2,Data Scientist,Country Veggie,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",1-3 Yrs
3,Data Scientist Machine Learning,Delhivery,Gurgaon,1-3 Yrs
4,Business Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,Gurgaon,3-5 Yrs
5,Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,Gurgaon,1-3 Yrs
6,Data Scientist,Amity University,"Faridabad, Delhi NCR, Ghaziabad",6-8 Yrs
7,Data Scientist,BlackBuck,"Bengaluru, Gurgaon",3-7 Yrs
8,Senior Data Scientist,iNICU,Delhi,1-5 Yrs
9,Senior Data Scientist - NLP,IRIS SOFTWARE Inc,Delhi NCR,4-9 Yrs

# Q4

In [153]:
driver = webdriver.Chrome("C:/Users/91880/Downloads/chromedriver_win32/chromedriver.exe")

In [154]:
driver.get('https://www.glassdoor.co.in/index.htm')
search_job = driver.find_element_by_xpath("//input[@class='css-1etjok6']")
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@class='input-wrapper css-q444d9']/input")
search_loc.send_keys("Noida")

In [160]:
search_btn = driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn.click()

In [162]:
url="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

In [163]:
driver.get(url)

In [164]:
name=[]
days=[]
rating=[]

In [165]:
name_1=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")

In [167]:
for i in name_1:
    a=i.text
    name.append(a)
name[0:5]

['Boston Consulting Group', 'BlackRock', 'Biz2Credit Inc', 'Adobe', 'Brickred']

In [168]:
days_1=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [170]:
for i in days_1:
    a=i.text
    days.append(a)
days[0:5]

['24h', '13d', '15d', '9d', '26d']

In [171]:
rating_1=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

In [177]:
rating=[]
for i in rating_1:
    a=i.text
    rating.append(a)

In [184]:
rating[0:5]

['3.9', '4.1', '3.7', '4.4', '3.9']

In [185]:
jobs4=pd.DataFrame({})
jobs4['Company Name']=name[0:10]
jobs4['Time after Post']=days[0:10]
jobs4['Company Rating']=rating[0:10]
jobs4

                             Company Name Time after Post Company Rating
0                 Boston Consulting Group             24h            3.9
1                               BlackRock             13d            4.1
2                          Biz2Credit Inc             15d            3.7
3                                   Adobe              9d            4.4
4                                Brickred             26d            3.9
5                         abc consultants              7d            4.1
6                                 WishFin             18d            4.0
7  Terra Economics & Analytics Lab (TEAL)              8d            4.9
8                    Gauge Data Solutions              7d            3.1
9                         Priority Vendor              7d            3.7

# Q5

In [186]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [187]:
search_job = driver.find_element_by_xpath("//input[@id='KeywordSearch']")
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@id='LocationSearch']")
search_loc.send_keys("Noida")

In [188]:
search_btn = driver.find_element_by_xpath("//button[@id='HeroSearchButton')
search_btn.click()

In [189]:
url="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

In [190]:
driver.get(url)

In [219]:
name=[]
avgs=[]
mins=[]
maxs=[]
no=[]

In [220]:
name_1=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")

In [221]:
for i in name_1:
    a=i.text
    name.append(a)
name[0:5]

['Delhivery',
 'Ericsson-Worldwide',
 'Tata Consultancy Services',
 'Accenture',
 'IBM']

In [222]:
avgs_1=driver.find_elements_by_xpath("//div[@class='col-3 d-none d-md-flex flex-row justify-content-end']")

In [223]:
for i in avgs_1:
    a=i.text
    avgs.append(a.replace('\n',''))

In [224]:
avgs_1=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")

In [225]:
for i in avgs_1:
    a=i.text
    avgs.append(a.replace('\n',''))
avgs[0:5]

[' 12,64,182/yr',
 ' 7,30,968/yr',
 ' 6,00,000/yr',
 ' 9,94,055/yr',
 ' 7,39,040/yr']

In [226]:
mins_1=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")

In [227]:
for i in mins_1:
    a=i.text
    mins.append(a)
mins[0:5]

['450K', '350K', '336K', '577K', '587K']

In [228]:
maxs_1=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")

In [229]:
for i in maxs_1:
    a=i.text
    maxs.append(a)
maxs[0:5]

['11,630K', '1,614K', '1,010K', '2,215K', '2,732K']

In [231]:
no_1=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")

In [234]:
for i in no_1:
    a=i.text
    no.append(a)
no[0:5]

['13 salaries', '12 salaries', '11 salaries', '10 salaries', '10 salaries']

In [236]:
jobs5=pd.DataFrame({})
jobs5['Company Name']=name[0:10]
jobs5['No. of Salaries']=no[0:10]
jobs5['Average Salary']=avgs[0:10]
jobs5['Minimum Salary']=mins[0:10]
jobs5['Maximum Salary']=maxs[0:10]
jobs5

,Company Name,No. of Salaries,Average Salary,Minimum Salary,Maximum Salary
0,Delhivery,13 salaries,"12,64,182/yr",450K,"11,630K"
1,Ericsson-Worldwide,12 salaries,"7,30,968/yr",350K,"1,614K"
2,Tata Consultancy Services,11 salaries,"6,00,000/yr",336K,"1,010K"
3,Accenture,10 salaries,"9,94,055/yr",577K,"2,215K"
4,IBM,10 salaries,"7,39,040/yr",587K,"2,732K"
5,UnitedHealth Group,9 salaries,"13,37,114/yr",717K,"1,575K"
6,Valiance Solutions,8 salaries,"7,80,374/yr",502K,"1,152K"
7,Innovaccer,7 salaries,"11,98,792/yr",621K,"1,696K"
8,Cognizant Technology Solutions,6 salaries,"10,08,143/yr",793K,"1,264K"
9,EXL Service,6 salaries,"11,34,989/yr",576K,"1,500K"

# Q6

In [257]:
driver.get('https://www.flipkart.com/')

In [258]:
search = driver.find_element_by_xpath("//input[@class='_3704LK']")
search.send_keys("sunglasses")

In [261]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu')
search_btn.click()

In [262]:
a=1
url=[]
for i in range(1,4):
    no="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(a)
    a=a+1
    url.append(no)

In [263]:
brand=[]
descrip=[]
price=[]
discount=[]

In [264]:
for i in url:
    driver.get(i)
    
    brand_1=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    for j in brand_1:
        a=j.text
        brand.append(a)
brand[0:5]

['Adrenex', 'ROYAL SON', 'Fastrack', 'Fastrack', 'ROZZETTA CRAFT']

In [265]:
for i in url:
    driver.get(i)
    
    descrip_1=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for j in descrip_1:
        a=j.text
        descrip.append(a)
descrip[0:5]

['Polarized, UV Protection Sports Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)']

In [266]:
for i in url:
    driver.get(i)
    
    price_1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for j in price_1:
        a=j.text
        price.append(a)
price[0:5]

['629', '599', '599', '499', '499']

In [267]:
for i in url:
    driver.get(i)
    
    discount_1=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for j in discount_1:
        a=j.text
        discount.append(a)
discount[0:5]

['79% off', '70% off', '33% off', '37% off', '77% off']

In [268]:
table=pd.DataFrame({})
table['Brand']=brand[0:100]
table['Description']=descrip[0:100]
table['Price']=price[0:100]
table['Discount']=discount[0:100]
table

,Brand,Description,Price,Discount
0,Adrenex,"Polarized, UV Protection Sports Sunglasses (60)",629,79% off
1,ROYAL SON,UV Protection Retro Square Sunglasses (88),599,70% off
2,Fastrack,UV Protection Aviator Sunglasses (Free Size),599,33% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",499,37% off
4,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),499,77% off
...,...,...,...,...
95,Aislin,"UV Protection, Gradient Cat-eye Sunglasses (58)","1,040",73% off
96,Gansta,UV Protection Aviator Sunglasses (54),269,86% off
97,United Colors of Benetton,Mirrored Aviator Sunglasses (55),"1,560",60% off
98,Aislin,"UV Protection, Gradient Butterfly, Wayfarer Su...",448,70% off
99,Aislin,"UV Protection, Gradient Butterfly, Retro Squar...","1,135",73% off

# Q7

In [274]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"

In [275]:
driver.get(url)

In [276]:
rating=[]
summary=[]
review=[]

In [278]:
review_btn = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm')
review_btn.click()

In [285]:
a=1
url=[]
for i in range(1,12):
    no="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGRRWP0SM&marketplace=FLIPKART&page="+str(a)
    a=a+1
    url.append(no)

In [289]:
for i in url:
    driver.get(i)
    
    rating_1=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    
    for j in rating_1:
        a=j.text
        rating.append(a)
rating[0:5]

['5', '5', '5', '5', '5']

In [291]:
for i in url:
    driver.get(i)
    
    summary_1=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    
    for j in summary_1:
        a=j.text
        summary.append(a)
summary[0:5]

['Perfect product!',
 'Great product',
 'Highly recommended',
 'Perfect product!',
 'Brilliant']

In [294]:
for i in url:
    driver.get(i)
    
    review_1=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    for j in review_1:
        a=j.text
        review.append(a.replace('\n',''))
review[0:5]

['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.Im am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.Dont think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.Ive attached my puppy pics and no fi...READ MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.If you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.Cameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Its a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise its amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...READ MORE',
 'The Best Phone for the MoneyThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.Compelling ultra-wide cameraNew Night mode is excellentLong battery life']

In [297]:
table2=pd.DataFrame({})
table2['Rating']=rating[0:100]
table2['Review Summary']=summary[0:100]
table2['Full Review']=review[0:100]
table2

,Rating,Review Summary,Full Review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.Im am ver...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,Its a must buy who is looking for an upgrade ...
4,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
...,...,...,...
95,5,Delightful,Nice camera for front and back.. The display i...
96,5,Fabulous!,Best phone in this price segment people say th...
97,5,Terrific,I got this beast today. And I must say the pic...
98,5,Excellent,"Got mobile @56,990 on 8 oct 2020 when all othe..."
99,3,Terrific,Have used both iPhone X and iPhone XR and I ca...

# Q8

In [298]:
driver.get('https://www.flipkart.com/')

In [299]:
search = driver.find_element_by_xpath("//input[@class='_3704LK']")
search.send_keys("sneakers")

In [300]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu')
search_btn.click()

In [308]:
a=1
url=[]
for i in range(1,5):
    no="hhttps://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(a)
    a=a+1
    url.append(no)

In [309]:
brand=[]
descrip=[]
price=[]
discount=[]

In [310]:
for i in url:
    driver.get(i)
    
    brand_1=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    for j in brand_1:
        a=j.text
        brand.append(a)
brand[0:5]

['India hub', 'luxury fashion', 'Chevit', 'Robbie jones', 'Rockfield']

In [311]:
for i in url:
    driver.get(i)
    
    descrip_1=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for j in descrip_1:
        a=j.text
        descrip.append(a)
descrip[0:5]

['Canvas casual sneaker shoes Sneakers For Men',
 'Luxury sneaker shoes Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men"]

In [312]:
for i in url:
    driver.get(i)
    
    price_1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for j in price_1:
        a=j.text
        price.append(a)
price[0:5]

['499', '499', '474', '379', '399']

In [313]:
for i in url:
    driver.get(i)
    
    discount_1=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for j in discount_1:
        a=j.text
        discount.append(a)
discount[0:5]

['83% off', '83% off', '76% off', '62% off', '60% off']

In [314]:
table=pd.DataFrame({})
table['Brand']=brand[0:100]
table['Description']=descrip[0:100]
table['Price']=price[0:100]
table['Discount']=discount[0:100]
table

,Brand,Description,Price,Discount
0,India hub,Canvas casual sneaker shoes Sneakers For Men,499,83% off
1,luxury fashion,Luxury sneaker shoes Sneakers For Men,499,83% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,474,76% off
3,Robbie jones,Sneakers For Men,379,62% off
4,Rockfield,White Sneaker For Men's/Boy's Sneakers For Men,399,60% off
...,...,...,...,...
95,Believe,Boxer-303 Sneakers For Men,446,55% off
96,World Wear Footwear,Canvas casual sneaker shoes Sneakers For Men,228,54% off
97,Chevit,Luxury sneaker shoes Sneakers For Men,299,70% off
98,D-SNEAKERZ,Combo Pack of 4 Casual Sneakers With Sneakers ...,368,44% off
99,Armado,Sneakers For Men,498,50% off

# Q9

In [353]:
driver.get('https://www.myntra.com/shoes')

In [354]:
price_btn=driver.find_element_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']/input")
price_btn.click()

In [355]:
col_but=driver.find_element_by_xpath("//li[@class='colour-listItem')/input]
col_but.click()

In [356]:
a=1
url=[]
for i in range(1,7):
    no="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p="+str(a)+"&plaEnabled=false&rf=Price%3A6612.0_13075.0_6612.0%20TO%2013075.0%2C6657.0_13105.0_6657.0%20TO%2013105.0"
    a=a+1
    url.append(no)

In [358]:
brand=[]
descrip=[]
price=[]

In [359]:
for i in url:
    driver.get(i)
    
    brand_1=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    
    for j in brand_1:
        a=j.text
        brand.append(a)
brand[0:5]

['Nike', 'Nike', 'Nike', 'Nike', 'Nike']

In [361]:
for i in url:
    driver.get(i)
    
    descrip_1=driver.find_elements_by_xpath("//h4[@class='product-product']")
    
    for j in descrip_1:
        a=j.text
        descrip.append(a)
descrip[0:5]

['AIR ZOOM PEGASUS Running Shoes',
 'Men JOYRIDE Running Shoes',
 'Men React Infinity Running',
 'ZOOM FREAK 2 Basketball Shoes',
 'Men AIR ZOOM Running Shoes']

In [363]:
price=[]
for i in url:
    driver.get(i)
    
    price_1=driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")
    
    for j in price_1:
        a=j.text
        price.append(a)
price[0:5]

['Rs. 10796', 'Rs. 10796', 'Rs. 8621', 'Rs. 7996', 'Rs. 11996']

In [366]:
table3=pd.DataFrame({})
table3['Brand']=brand[0:100]
table3['Short Description']=descrip[0:100]
table3['Price']=price[0:100]
table3

             Brand               Short Description      Price
0             Nike  AIR ZOOM PEGASUS Running Shoes  Rs. 10796
1             Nike       Men JOYRIDE Running Shoes  Rs. 10796
2             Nike      Men React Infinity Running   Rs. 8621
3             Nike   ZOOM FREAK 2 Basketball Shoes   Rs. 7996
4             Nike      Men AIR ZOOM Running Shoes  Rs. 11996
..             ...                             ...        ...
95            Xtep              Women Heeled Boots   Rs. 6999
96         Saint G  JEANSLIFESTYLE LeatherSneakers   Rs. 6996
97  Tommy Hilfiger           Men Textured Sneakers   Rs. 8996
98          VIONIC              Men Solid Sneakers   Rs. 6799
99  Tommy Hilfiger              Men Solid Sneakers   Rs. 7054

[100 rows x 3 columns]

# Q10

In [368]:
driver.get('https://www.amazon.in/')

In [369]:
search = driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
search.send_keys("Laptop")

In [372]:
search_btn = driver.find_element_by_xpath("//input[@id='nav-search-submit-button')
search_btn.click()

In [376]:
filter_btn = driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']/input)
filter_btn.click()

In [377]:
filter_btn2 = driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/16757432031']/input)
filter_btn2.click()

In [413]:
url="https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1613669019&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_16"

In [414]:
driver.get(url)

In [415]:
title=[]
rating=[]
price=[]

In [416]:
title_1=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

In [417]:
for i in title_1:
    a=i.text
    title.append(a)
title[0:5]

['Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inch Laptop (10th Gen Core i7-10510U/8GB/512GB SSD/Windows 10 Home/MS Office/Mineral Silver/1.58 kg), 14-dh1180tu',
 'ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN']

In [419]:
price_1=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [420]:
for i in price_1:
    a=i.text
    price.append(a)
price[0:5]

['50,999', '2,68,325', '74,990', '5,22,077', '77,990']

In [422]:
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

In [423]:
url=[]
for i in urls:
    a=i.get_attribute('href')
    url.append(a)

In [426]:
rating=[]
for i in url:
    driver.get(i)
    rating_1=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base']")
    
    for j in rating_1:
        a=j.text
        rating.append(a)
rating[0:5]

['4.2 out of 5', '5 out of 5', '3.5 out of 5', '4.2 out of 5', '3.8 out of 5']

In [428]:
table4=pd.DataFrame({})
table4['Laptop Name']=title[0:10]
table4['Price']=price[0:10]
table4['Rating']=rating[0:10]
table4

                                         Laptop Name     Price        Rating
0  Mi Notebook Horizon Edition 14 Intel Core i5-1...    50,999  4.2 out of 5
1  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  2,68,325    5 out of 5
2  HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...    74,990  3.5 out of 5
3  ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...  5,22,077  4.2 out of 5
4  Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i...    77,990  3.8 out of 5
5  HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...    75,482    4 out of 5
6  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...    96,133  3.3 out of 5
7  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...    89,990  4.3 out of 5
8  Lenovo Legion 5i 10th Gen Intel Core i7 15.6 i...    77,990  4.2 out of 5
9  Dell G3 3500 Gaming 15.6inch 120hz FHD Display...    72,800    4 out of 5